<div id="about">
  <div class="ui container">
    <div class="ui grid middle aligned two columns">
      <div class="column">
        <h1 class="ui">Rules and Regulations</h1>
      </div>
      <div class="column right aligned">
        <button id="printRulesButton" class="ui button primary" onclick="window.print()">Print</button>
      </div>
    </div>
    <br>

    <h2 class="ui header">Participation</h2>
    <p class="ui left aligned">
      1. The schools must enter with only one collaborative virtual theatrical performance which is relevant to the theme ‘Freedom: An Artistic Quest’.
      <br>
      2. This production could be an original devised piece or an adaptation/re-interpretation of an existing play/short story/novel that has been published.
      <br>
      3. All plays should be in English, Hindi or bi-lingual. However, using other languages in parts of the play, keeping the context in mind, is acceptable.
      <br>
      4. A production can have a maximum of 15 cast and crew members. This should include at least one student director and producer.
      <br>
      5. The school must fill out the registration form by September 5, 2020 to confirm its participation in this event. Upon registration, schools will be provided a link on which all their works will be uploaded. Video submissions will be accepted between September 5 and October 5. A complete and comprehensive list of cast and crew members will be required by October 5, 2020.
      <br>
      6. The performance should be shot with a steady frame, without moving the camera during the recording. We encourage the performance to use the body as its principal tool and not take the story forward based on the effects of the camera and post-production.
      <br>
      7. No special Audio-Visual effects (CGI) may be added, but use of regular sound and lights is permitted while the performances are being recorded.
    </p>

    <h2 class="ui header">Time Limitations and Submission</h2>
    <p class="ui">
      1. The last date for submission of all performance videos is 23:59 hrs (IST) October 5, 2020.
      <br>
      2. The running time for all performances must be between 15 minutes and 20 minutes.
      <br>
      3. All teams must edit and render their final performances in any of the following video formats: .mp4/.mov/.wmv/.flv/.avi. The mode of sharing these files will be shared upon registration.
      <br>
      4. The performances will be streamed on the Kaafila website on the festival dates, i.e., October 15, 16 and 17 (1 st half). The results will be announced on October 17 (2 nd half).
      <br>
      5. The link to the stream will be shared closer to the festival dates.
    </p>

    <h2 class="ui header">On the Day</h2>
    <p class="ui">
      1. Actual schedules will be shared closer to the date. Performances will be followed by conversations with the jury. The day is expected to conclude with the awards ceremony at 3:30 pm (IST).
      <br>
      2. We would encourage the teams to watch performances by the other schools as far as possible.
    </p>

    <h2 class="ui header">Judgement Criteria</h2>
    <p class="ui">
      1. Interpretation of theme
      <br>
      2. Acting choices
      <br>
      3. Performance design
      <br>
      4. Depth of content
    </p>

    <h2 class="ui header">Digital Safety</h2>
    <p class="ui">
      1. As we are all aware of the risks involved in putting up work online, we request all teams to respect the private nature of streaming links and strictly share them with the people they know and trust.
      <br>
      2. The link will be private and must not be shared on any popular social media platforms like Facebook, Instagram, Twitter, etc.
      <br>
      3. When accessing the stream, please use your personal device to ensure complete cyber safety.
    </p>
  </div>
</div>