<p class="ui left aligned">
  Come join the first-of-its-kind international student collaborative theatre project, where participants from different schools will come together for a period of 7 days, working virtually on the given theme and creating theatre together. They will be working collaboratively creating a performance piece under the mentorship of Shiv Nadar School’s reputed Theatre department. The culmination of the project will be streamed live for the public to view and engage with across the globe.
</p>

<h4 class="ui header">Dates of Rehearsal</h4>
<p class="ui left aligned">Everyday 9<sup>th</sup>-15<sup>th</sup> October, 4:00-5:30 P.M. (IST)</p>
<h4 class="ui header">Performance Showcase</h4>
<p class="ui left aligned">16<sup>th</sup> October</p>
<h4 class="ui header">Medium Of Collaboration</h4>
<p class="ui left aligned">Zoom</p>
<h4 class="ui header">Max Participants From Each School</h4>
<p class="ui left aligned">2 (1 Male And 1 Female)</p>
<h4 class="ui header">Total Number Of Participants</h4>
<p class="ui left aligned">12</p>
<p class="ui left aligned">Registrations to be accepted on a first-come-first-served basis.</p>