<p class="ui left aligned">
  This will be a specially designed workshop exploring storytelling through Sounds, Music and writing. This offers tools to listen intently and imaginatively to sounds around us and seek out the stories hidden inside them. The participants will learn to script, design and record their own podcast-friendly audio stories.  This workshop is open to persons of all ages above 14.
</p>

<h4 class="ui header">Facilitators</h4>
<p class="ui left aligned">Sananda Mukhopadhyaya</p>
<h4 class="ui header">Duration</h4>
<p class="ui left aligned">2 Days</p>
<h4 class="ui header">Timings</h4>
<p class="ui left aligned">
  - Day 1: 2 hours <br>
  - Day 2: 1 hour
</p>
<h4 class="ui header">Total number of participants</h4>
<p class="ui left aligned">12</p>