<p class="ui left aligned">
  Come, join us for a free-wheeling candid chat with a legend of the theatre and films as we try and unpack the craft of storytelling in both the mediums and take inspiration from the guest’s extraordinary journey on the stage and cinema. Listen, engage and question ideas that erupt within the dialogue to be moderated by a budding theatre student.
</p>
<p class="ui left aligned">Entry by registration only. Registration for this event opens October 5, 2020.</p>
<h4 class="ui header">Duration</h4>
<p class="ui left aligned">1 hour</p>