{{!-- <div id="video">
  <div class="ui container">
    <div class="ui segment inverted">
      <h5 class="ui header center aligned">Event will be streamed on 6:00 PM, 15 October</h5>
    </div>
  </div>
</div> --}}
<div id="about">
  <div class="ui container">
    <p class="ui left aligned">
      Come join the first-of-its-kind international student collaborative theatre project, where participants from different schools will come together for a period of 7 days, working virtually on the given theme and creating theatre together. They will be working collaboratively creating a performance piece under the mentorship of Shiv Nadar School’s reputed Theatre department. The culmination of the project will be streamed live for the public to view and engage with across the globe.
    </p>

    {{!-- <h4 class="ui header">Dates of Rehearsal</h4>
    <p class="ui left aligned">Everyday 9<sup>th</sup>-15<sup>th</sup> October, 4:00-5:30 P.M. (IST)</p>
    <h4 class="ui header">Performance Showcase</h4>
    <p class="ui left aligned">16<sup>th</sup> October</p>
    <h4 class="ui header">Medium Of Collaboration</h4>
    <p class="ui left aligned">Zoom</p>
    <h4 class="ui header">Max Participants From Each School</h4>
    <p class="ui left aligned">2 (1 Male And 1 Female)</p>
    <h4 class="ui header">Total Number Of Participants</h4>
    <p class="ui left aligned">12</p>
    <h4 class="ui header">Last Date to Register</h4>
    <p class="ui left aligned">
      5<sup>th</sup> October
      <br> Registrations to be accepted on a first-come-first-served basis.
    </p>
    <h4 class="ui header">After Registrations</h4>
    <p class="ui left aligned">
      Our team will get in touch with the teacher representative and share further details that need to be shared with the participants.
    </p> --}}
  </div>
</div>

<div id="schedule">
  <div class="ui container">
    <h1 class="ui header">Schedule for Performances</h1>
    <p class="ui">
      There are a total of three links hosting one performance each
      <br>Each performance will be repeated thrice between 1 pm to 2 pm on 16<sup>th</sup> October, 2020. 
      <br>These performances will be 15 minutes long with a 5-minute break in between. These are the three slots in which the performances are supposed to happen.
    </p>
    <table class="ui table celled unstackable">
      <thead>
        <tr>
          <th class="two wide">Time Slot</th>
          <th class="four wide">Performance 1<br>(Sprihha and Sadhya)</th>
          <th class="four wide">Performance 2<br>(Manya and Diya)</th>
          <th class="four wide">Performance 3<br>(Yajur and Saksham)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1:00 PM - 1:15 PM</td>
          {{!-- <td>Opening Ceremony</td> --}}
          <td rowspan="3">
            <a href="https://us04web.zoom.us/j/71224193306?pwd=V2RSdUFkOVZSRVVKU1gybXR1bnNLUT09"><div class="ui button green">Join Here</div></a>
            <br>
            Meeting ID: 712 2419 3306
            <br>Passcode: 22J6Bp
          </td>
          <td rowspan="3">
            <a href="https://us02web.zoom.us/j/86452644885?pwd=YS9hVXJNYklMVGpQRG4xLzVrRWNpdz09"><div class="ui button green">Join Here</div></a>
            <br>
            Meeting ID: 864 5264 4885
            <br>Passcode: KVV0X4
          </td>
          <td rowspan="3">
            <a href="https://us02web.zoom.us/j/81948094296?pwd=ZDNTdlFNT1Z1NDhwNjRBbXZ1cEY0Zz09"><div class="ui button green">Join Here</div></a>
            <br>
            Meeting ID: 819 4809 4296
            <br>Passcode: w761cS
          </td>
        </tr>
        <tr>
          <td>1:20 PM - 1:35 PM</td>
        </tr>
        <tr>
          <td>1:40 PM - 1:55 PM</td>
        </tr>
      </tbody>
    </table>
    <h2 class="ui header">General guidelines for the audience</h2>
    <p class="ui">
      1. Please keep your audio and videos switched off all the time.
      <br> 2. Please be in the waiting room five minutes before the performance. 
      <br> 3. Please hide non-video participants' while the performance is going on.
    </p>
  </div>
</div>

<div id="mentors">
  <div class="ui container center aligned">
    <h1 class="ui header">Mentor</h1>
    <br>
    <div class="ui grid stackable fluid center aligned top aligned">
      <div class="column four wide">
        <img class="ui image fluid rounded" src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/judges/bnc-cl-neel-sengupta.png?w=400&h=400">
      </div>
      <div class="column eight wide left aligned">
        <h2 class="ui">Neel Sengupta​</h2>
        <p class="ui">
          Neel Sengupta is a Director, actor, and educator living in Delhi. An Alumnus of The Players, Kirori Mal College, he has been creating work in Delhi, Mumbai, and Bangalore. He is the recipient of the Tendulkar-Dubey Fellowship 2019 for Excellence in Theatre and recently won 4 META (Mahindra Excellence in Theatre Awards) for his play For The Record. 
        </p>
        <p class="ui">
          He has been primarily working with the Tadpole Repertory, Delhi (The Winter’s Tale, Still and Still Moving, Gruesome Playground Injuries, Quicksand) as a resident director/actor and Indian Ensemble, Bangalore (Kaumudi, Thook, and Muktidham) and Bhasha Centre (Eidgaah Ke Jinnat) as a collaborator in various directorial roles.
        </p>
        <p class="ui">
          Neel has been working with young adults in the field of Drama in Education for the last 9 years (Theatre Professionals, Pathways Schools and Heritage Schools). He has been in a classroom in more than a dozen schools all over the country. He is currently teaching drama at the Shiv Nadar School, Noida.
        </p>
        <p class="ui">
          He is one of the founding members of Third Space Collective. His work with the Collective includes directing “Love, Prufrock"(Official selection at the Old World Theatre Festival, 2017 and Serendipity Festival, 2018), stepping in as the Creative Producer for "Dastaan-e-Bhookh", an acclaimed production based on Sam Shepard's Curse of the Starving Class, which won several accolades at Thespo '17 and most recently directing ”Mahish”( Official selection at the Ranga Shankara Festival 2018), a re-imagination of Ionesco’s acclaimed play, Rhinoceros.
        </p>
      </div>
    </div>
  </div>
</div>