<div id="about">
  <div class="ui container">
    <p class="ui left aligned">
      The pandemic has offered possibilities to find new images and narratives within the confines of our homes. This workshop will provide the right tools to frame, capture, edit and stream such stories with the help of just a phone camera!
    </p>
    <p class="ui left aligned">
      This workshop is helpful for anyone who wants to tell a story in the video format. You could be interested in making short films, vlogs, reaction vines, cooking recipes or DIY videos, this workshop can give you hands-on experience in understanding lighting, the lens of the camera you are using, the aesthetics of film and useful editing techniques. This workshop is for storytellers above the age of 14 who have access to a smart phone for the duration of the workshop.
    </p>

    <h4 class="ui header">Facilitators</h4>
    <p class="ui left aligned">Sundarram Arjun</p>
    <h4 class="ui header">Duration</h4>
    <p class="ui left aligned">2 Days</p>
    <h4 class="ui header">Timings</h4>
    <p class="ui left aligned">
      - Day 1: 2 hours <br>
      - Day 2: 1.5 hours
    </p>
    <h4 class="ui header">Total number of participants</h4>
    <p class="ui left aligned">20</p>
    <h4 class="ui header">Max Participants From Each School</h4>
    <p class="ui left aligned">4</p>
    <h4 class="ui header">Event Dates</h4>
    <p class="ui left aligned">
      16<sup>th</sup> October (4:00 - 6:00)
      <br> 17<sup>th</sup> October (4:00 - 5:30)
    </p>
    <h4 class="ui header">Last Date to Register</h4>
    <p class="ui left aligned">5<sup>th</sup> October</p>
  </div>
</div>