{{!-- <div id="about">
  <div class="ui container">
    <p class="ui left aligned">
      The pandemic has offered possibilities to find new images and narratives within the confines of our homes. This workshop will provide the right tools to frame, capture, edit and stream such stories with the help of just a phone camera!
    </p>
    <p class="ui left aligned">
      This workshop is helpful for anyone who wants to tell a story in the video format. You could be interested in making short films, vlogs, reaction vines, cooking recipes or DIY videos, this workshop can give you hands-on experience in understanding lighting, the lens of the camera you are using, the aesthetics of film and useful editing techniques. This workshop is for storytellers above the age of 14 who have access to a smart phone for the duration of the workshop.
    </p>

    <h4 class="ui header">Facilitators</h4>
    <p class="ui left aligned">Sundarram Arjun</p>
    <h4 class="ui header">Duration</h4>
    <p class="ui left aligned">2 Days</p>
    <h4 class="ui header">Timings</h4>
    <p class="ui left aligned">
      - Day 1: 2 hours <br>
      - Day 2: 1.5 hours
    </p>
    <h4 class="ui header">Total number of participants</h4>
    <p class="ui left aligned">20</p>
    <h4 class="ui header">Max Participants From Each School</h4>
    <p class="ui left aligned">4</p>
    <h4 class="ui header">Event Dates</h4>
    <p class="ui left aligned">
      16<sup>th</sup> October (4:00 - 6:00)
      <br> 17<sup>th</sup> October (4:00 - 5:30)
    </p>
    <h4 class="ui header">Last Date to Register</h4>
    <p class="ui left aligned">5<sup>th</sup> October</p>
  </div>
</div> --}}

<div id="mentors">
  <div class="ui container center aligned">
    <h1 class="ui header">Mentor</h1>
    <br>
    <div class="ui grid stackable fluid center aligned top aligned">
      <div class="column four wide">
        <img class="ui image fluid rounded" src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/judges/bnc-sttl-sundarram-arjun.png?w=400&h=400">
      </div>
      <div class="column eight wide left aligned">
        <h2 class="ui">Sundarram Arjun​</h2>
        <p class="ui">
          Sundarram Arjun is a young filmmaker based out of New Delhi who is the founder-director of woolwork films and also specialises in Cinematography. He has actively been involved in Film making since 2013. He has pursued a post-graduate diploma in cinematography from LV Prasad Film & TV Academy Chennai after having worked on a multiple award-winning featured documentary called " Cities of Sleep". The documentary travelled to festivals across Europe and the USA.
        </p>
        <p class="ui">
          His most recent works includes the NETFLIX film Soni (Assistant Cinematographer) produced by National Award recipient Kartikeya Singh. As Director of Photography, he has shot a web series for VIACOM 18 called UNTAG, Feature-length documentaries for Films Division of India namely Superstars of Koti. He also assisted the cinematographer in Sridevi's last film "MOM". He has also shot digital advertisements for prominent companies like GOIBIBO, Facebook, Range Rover, Google, United Colors of Benetton and many more.
        </p>
        <p class="ui">
          Recently he was the Director of Photography for short films like Circus and Ehsaas that were nominated for prestigious awards in the festival circuit. Circus also was selected as the "short of the week" by ROYAL STAG LARGE SHOT FILMS.
        </p>
      </div>
    </div>
  </div>
</div>