{{!-- <div id="about">
  <div class="ui container">
    <p class="ui left aligned">
      This will be a specially designed workshop exploring storytelling through Sounds, Music and writing. This offers tools to listen intently and imaginatively to sounds around us and seek out the stories hidden inside them. The participants will learn to script, design and record their own podcast-friendly audio stories.  This workshop is open to persons of all ages above 14.
    </p>

    <h4 class="ui header">Facilitators</h4>
    <p class="ui left aligned">Sananda Mukhopadhyaya</p>
    <h4 class="ui header">Duration</h4>
    <p class="ui left aligned">2 Days</p>
    <h4 class="ui header">Timings</h4>
    <p class="ui left aligned">
      - Day 1: 2 hours <br>
      - Day 2: 1 hour
    </p>
    <h4 class="ui header">Total number of participants</h4>
    <p class="ui left aligned">12</p>
    <h4 class="ui header">Maximum number of participants from each school</h4>
    <p class="ui left aligned">3</p>
    <h4 class="ui header">Event Dates</h4>
    <p class="ui left aligned">
      15<sup>th</sup> October (11:00 - 1:00)
      <br> 16<sup>th</sup> October (11:00 - 12:00)
    </p>
    <h4 class="ui header">Last Date to Register</h4>
    <p class="ui left aligned">5<sup>th</sup> October</p>
  </div>
</div> --}}

<div id="mentors">
  <div class="ui container center aligned">
    <h1 class="ui header">Mentors</h1>
    <div class="ui grid four columns stackable center aligned top aligned">
      <div class="column">
        <div class="ui card fluid">
          <div class="image">
            <img src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/judges/bnc-tsos-sananda-mukhopadhyaya.png?w=400&h=400">
          </div>
          <div class="content left aligned">
            <div class="header">Sananda Mukhopadhyaya</div>
            <div class="description">
              <button class="ui button small primary right floated" onClick="$('#bnc-tsos-sananda-mukhopadhyaya').modal('show')">Read Bio</button>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui card fluid">
          <div class="image">
            <img src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/judges/bnc-tsos-shruti-sridharan.png?w=400&h=400">
          </div>
          <div class="content left aligned">
            <div class="header">Shruti Sridharan</div>
            <div class="description">
              <button class="ui button small primary right floated" onClick="$('#bnc-tsos-shruti-sridharan').modal('show')">Read Bio</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui modal" id="bnc-tsos-sananda-mukhopadhyaya">
  <div class="header">
    <h2 class="ui">Sananda Mukhopadhyaya</h2>
  </div>
  <div class="scrolling content">
    <div class="ui grid stackable fluid">
      <div class="column four wide">
        <img class="ui image fluid rounded" src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/judges/bnc-tsos-sananda-mukhopadhyaya.png?w=400&h=400">
      </div>
      <div class="column twelve wide">
        <p class="ui left aligned">
          Sananda Mukhopadhyaya is an arts-based educator and theatre-maker. After studying Anthropology & political science in her Bachelor's Degree from St.Xavier's College Mumbai in 2008, she began working as the Drama and Theatre Arts teacher at B.D.Somani International School, Cuffe Parade, Mumbai. She then went on to head the Young People's Theatre Programme for Theatre Professions in Mumbai, where she worked with over 20 schools across Mumbai, Bengaluru and Delhi. She studied further and pursued her interest in Objects. She undertook a Postgraduate Diploma in Museum Studies from the CSMVS (Chhatrapati Shivaji Maharaj Vastu Sangrahalaya), Mumbai with a focus on Live Interpretation. She then went onto working with the Kochi-Muziris Biennale, Kochi and the Foundation for Indian Contemporary Arts, Delhi where her focus was on developing educational programmes. During this time she also worked with the Shiv Nadar University, as an associate faculty as part of the first-ever taught programme in theatre and social development to be piloted in the country. Sananda makes theatre for the very young. Her most recent play was commissioned for the Serendipity Arts Festival. It opened at their Festival in December 2019, 'Hanv Gara Asa' is for ages 2 -4. She is also a trained Odissi Dancer and pursues an interest in ceramics.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ui modal" id="bnc-tsos-shruti-sridharan">
  <div class="header">
    <h2 class="ui">Shruti Sridharan</h2>
  </div>
  <div class="scrolling content">
    <div class="ui grid stackable fluid">
      <div class="column four wide">
        <img class="ui image fluid rounded" src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/judges/bnc-tsos-shruti-sridharan.png?w=400&h=400">
      </div>
      <div class="column twelve wide">
        <p class="ui left aligned">
          Shruti Sridharan is an alumnus of Academy of Theatre Arts, Mumbai University, Shruti is a performer and an Applied Theatre a practitioner who specialises in the use of drama in learning and development. She has spent the last few years specialising in working with children, and young- and not-so-young adults using drama and performance arts. She has spent three years working as an instructor in the Drama in Schools Programme (now called YPTP) run by TPPL, and another two and a half years as General Manager and Senior Programme Leader at Steps Drama, a drama-based corporate learning and development consultancy, where she used her skills as a facilitator and actor to train and develop corporate employees. Her keen interest in various forms of art has led her to train in Carnatic music, Bharatanatyam, film making, creative writing and pottery among other things, both formally as well as through apprenticeship. Apart from being Co-Founder and Facilitator at Sphere, Shruti runs her own proprietorship consultancy, Yaanay Experiential Learning that engages with corporate organisations to design employee engagement and training modules.
        </p>
      </div>
    </div>
  </div>
</div>