<p class="ui left aligned">
  Do you love dancing? Are you wondering how you could take your passion ahead?
</p>
<p class="ui left aligned">
  This one and a half hour  webinar explores the career opportunities that lie within the field of dance. Looking at possibilities that dance offers beyond performance, it aims at giving more clarity on what to pursue based on your interests and your strengths.
</p>
<p class="ui left aligned">
  The session will feature Aadya Kaktikar, Associate Professor in the Department of Art and Performing Arts at the Shiv Nadar University. She is an accomplished Odissi soloist with a career of over two decades. With Masters in Teaching Dance from University of Surrey, she is currently working towards her PhD in Dance Studies from Texas Woman's University, USA. She is on the editorial board of JODE and reviews for RIDE, two of the most renowned dance journals in the world.
</p>
<h4 class="ui header">Event Dates</h4>
<p class="ui left aligned">
  15<sup>th</sup> October (1-2 PM)
</p>