<div class="ui grid middle aligned two columns">
  <div class="column">
    <h1 class="ui">Rules and Regulations</h1>
  </div>
  <div class="column right aligned">
    <button id="printRulesButton" class="ui button primary" onclick="window.print()">Print</button>
  </div>
</div>
<br>
<p class="ui left aligned">
  1. Each school can have a maximum of 3 participants.
  <br>
  2. The performance can include individual interpretations of different Indian dance forms. This may include fusion of Indian Folk dances, Indian Classical Dances & Contemporary dance style.
  <br>
  3. You can submit your dance performance in the form of VIDEO, (The use of Bollywood music as a sound track is not permitted).
  <br>
  4. Each performance should be a minimum of 3 and a maximum of 5 minutes long.
  <br>
  5. The use of multimedia and props is permitted to be included in your performance. 
  <br>
  6. You can give your auditions in a comfortable attire that is easily available at your convenience.
  <br>
  7. The video has to be shot in the landscape mode such that the complete body is shown. Do not shoot the video against the source of light.
  <br>
  8. The last date to submit the video is the 5<sup>th</sup> of October.
  <br>
  9. The Video should be sent in this format: Upload your video on YouTube (unlisted) by the name of the participant. For e.g. Junahi Mehta (11-C) Shiv Nadar School Noida Dance Competition Video
</p>

<h2 class="ui header">Judgement Criteria</h2>
<p class="ui">
  - Costumes (that's easily accessible by you)
  <br>
  - Theme or Concept
  <br>
  - Creativity & Improvisation
  <br>
  - Expressions
  <br>
  - Choreography
  <br>
  - Balance and Rhythm
</p>
<p class="ui">
  <strong>Please Note:</strong> Judges will be making their judgement on the 7<sup>th</sup> and 8<sup>th</sup> of October. The Peer voting will open between 15<sup>th</sup>-16<sup>th</sup> Oct. The judgement will be based on 70% Judges response & 30% Peer Voting. The results will be announced online, by 17<sup>th</sup> Oct 2020. 

</p>