<p class="ui left aligned">
  1. Each school can have a maximum of 3 participants.
  <br>
  2. The performance can include individual interpretations of different Indian dance forms. This may include fusion of
  Indian Folk dances, Indian Classical Dances & Contemporary dance style.
  <br>
  3. You can submit your dance performance in the form of VIDEO, (The use of Bollywood music as a sound track is not
  permitted).
  <br>
  4. Each performance should be a minimum of 3 and a maximum of 5 minutes
  long. You've got to submit your video between 5th Sep - 5th October.
  <br>
  5. The use of multimedia and props is permitted to include in your performance. (that is easily available to you)
  <br>
</p>

<h2 class="ui header">Judgement Criteria</h2>
<p class="ui">
  - Costumes (that's easily accessible by you)
  <br>
  - Theme or Concept
  <br>
  - Creativity & Improvisation
  <br>
  - Expressions
  <br>
  - Choreography
  <br>
  - Balance and Rhythm
</p>
<p class="ui">
  Please Note: Judges will be making their judgement by 8th Oct 2020. The Peer voting will open between 15th-16th Oct. The judgement will be based on 70% Judges response & 30% Peer Voting. The results will be announced online, by 17th Oct 2020. 
</p>