<div id="about">
  <div class="ui container">
    <div id="about">
      <div class="ui container">
        <p class="ui left aligned">
          The 'FLESH N BONES' movement is Bertwin D’Souza's self-developed Contemporary Movement technique, which is a unique approach to exploring, understanding and creating movement. 
        </p>
        <p class="ui left aligned">
          With specially devised tools, students shall delve into examining the raw mechanics of their body in connection with their natural instincts and senses - thus strengthening their ability to move freely, powerfully and gracefully. This can be applied to all forms of movement, performing arts, athletics and daily life because refining one's awareness and mobility gives everyone the freedom to play and explore in all aspects of life. Two hour long sessions will be held on the 16<sup>th</sup> and 17<sup>th</sup> of October. 
        </p>
        <h4 class="ui header">Total number of participants</h4>
        <p class="ui left aligned">25</p>
        <h4 class="ui header">Max Participants From Each School</h4>
        <p class="ui left aligned">5</p>
        <h4 class="ui header">Event Dates</h4>
        <p class="ui left aligned">
          16<sup>th</sup> October (12-2 PM)
          <br> 17<sup>th</sup> October (12-2 PM)
        </p>
      </div>
    </div>
  </div>
</div>