<div id="about">
  <div class="ui container">
    <div id="about">
      <div class="ui container">
        <p class="ui left aligned">
          The 'FLESH N BONES' movement is Bertwin D’Souza's self-developed Contemporary Movement technique, which is a unique approach to exploring, understanding and creating movement. 
        </p>
        <p class="ui left aligned">
          With specially devised tools, students shall delve into examining the raw mechanics of their body in connection with their natural instincts and senses - thus strengthening their ability to move freely, powerfully and gracefully. This can be applied to all forms of movement, performing arts, athletics and daily life because refining one's awareness and mobility gives everyone the freedom to play and explore in all aspects of life. Two hour long sessions will be held on the 16<sup>th</sup> and 17<sup>th</sup> of October. 
        </p>
        <h4 class="ui header">Total number of participants</h4>
        <p class="ui left aligned">25</p>
        <h4 class="ui header">Max Participants From Each School</h4>
        <p class="ui left aligned">5</p>
        <h4 class="ui header">Event Dates</h4>
        <p class="ui left aligned">
          16<sup>th</sup> October (12-2 PM)
          <br> 17<sup>th</sup> October (12-2 PM)
        </p>
      </div>
    </div>
  </div>
</div>

<div id="mentors">
  <div class="ui container center aligned">
    <h1 class="ui header">Mentor</h1>
    <br>
    <div class="ui grid stackable fluid center aligned top aligned">
      <div class="column four wide">
        <img class="ui image fluid rounded" src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/judges/ff-fnc-bertwin-dsouza.png?w=400&h=400&tl_px=0,0">
      </div>
      <div class="column twelve wide left aligned">
        <h2 class="ui">Bertwin D'Souza</h2>
        <p class="ui">
          Bertwin Ravi Dsouza, is a Contemporary dance Artist & Teacher ,as well a highly reputed Choreographer in the Indian Theatre, Television and Film Industry.
        </p>
        <p class="ui">
          He received his training at the Terence Lewis Contemporary Dance Company, Mumbai, where he also became the Rehearsal Director and Assistant Choreographer, creating and performing contemporary & commercial works for Indian and Global audiences.
        </p>
        <p class="ui">
          Has trained at the Vertigo Dance Company, Israel and participated in many reputed international dance festivals specialising in contemporary techniques.
        </p>
        <p class="ui">
          Equipped with training in the disciplines of Contemporary, Modern, Indian martial arts, Urban, Latin and Bollywood, he has skillfully created unique movement expressions for various mediums.
        </p>
        <p class="ui">
          In his constant endeavour and passion for contemporary movement language, he has founded the 'FLESH N BONES' movement technique, which is a raw and unique approach to exploring and creating movement.
        </p>
        <p class="ui">
          He has been sharing this technique through his workshops Nationally and Internationally.
        </p>
        <p class="ui">
          He has been touring with his self produced Contemporary dance Solo, titled MOKSH - A QUEST FOR SALVATION, performed at CCNR (Lyon, France), CND (Paris, France), Reunion Island (French Department Island), Mauritius and Brigham Young university (Utah, USA).
        </p>
        <p class="ui">
          Some of his commercial works include highly successful Musicals like Disney's Aladdin, Gandhi, Devdas, Peppa Pig and Sing India Sing.
        </p>
        <p class="ui">
          And also choreographing for popular Dance reality TV shows - Dance Plus, So You Think You Can Dance (India), and Dance India Dance, as well as Music videos for the recent music album Songs of Faith by Amit Trivedi( AT AZAAD).
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ui modal" id="ff-fnc-bertwin-dsouza">
  <div class="header">
    <h2 class="ui">Bertwin D'Souza</h2>
  </div>
  <div class="scrolling content">
    <div class="ui grid stackable fluid">
      <div class="column four wide">
        <img class="ui image fluid" src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/judges/ff-fnc-bertwin-dsouza.png?w=400&h=400&tl_px=0,0">
      </div>
      <div class="column twelve wide">
        <p class="ui left aligned">
          Bertwin Ravi Dsouza, is a Contemporary dance Artist & Teacher ,as well a highly reputed Choreographer in the Indian Theatre, Television and Film Industry.
        </p>
        <p class="ui left aligned">
          He received his training at the Terence Lewis Contemporary Dance Company, Mumbai, where he also became the Rehearsal Director and Assistant Choreographer, creating and performing contemporary & commercial works for Indian and Global audiences.
        </p>
        <p class="ui left aligned">
          Has trained at the Vertigo Dance Company, Israel and participated in many reputed international dance festivals specialising in contemporary techniques.
        </p>
        <p class="ui left aligned">
          Equipped with training in the disciplines of Contemporary, Modern, Indian martial arts, Urban, Latin and Bollywood, he has skillfully created unique movement expressions for various mediums.
        </p>
        <p class="ui left aligned">
          In his constant endeavour and passion for contemporary movement language, he has founded the 'FLESH N BONES' movement technique, which is a raw and unique approach to exploring and creating movement.
        </p>
        <p class="ui left aligned">
          He has been sharing this technique through his workshops Nationally and Internationally.
        </p>
        <p class="ui left aligned">
          He has been touring with his self produced Contemporary dance Solo, titled MOKSH - A QUEST FOR SALVATION, performed at CCNR (Lyon, France), CND (Paris, France), Reunion Island (French Department Island), Mauritius and Brigham Young university (Utah, USA).
        </p>
        <p class="ui left aligned">
          Some of his commercial works include highly successful Musicals like Disney's Aladdin, Gandhi, Devdas, Peppa Pig and Sing India Sing.
        </p>
        <p class="ui left aligned">
          And also choreographing for popular Dance reality TV shows - Dance Plus, So You Think You Can Dance (India), and Dance India Dance,
        </p>
        <p class="ui left aligned">
          as well as Music videos for the recent music album Songs of Faith by Amit Trivedi( AT AZAAD).
        </p>
      </div>
    </div>
  </div>
</div>