<div id="about">
  <div class="ui container">
    <p class="ui left aligned">
      The Kalbeliya Lec-dem is a one and a half hour long lecture demonstration. This will focus on the story and journey of Gulabo Sapera as well as Kalbeliya as a dance form. The start of Kalbeliya, its evolution, the kind of music used, instruments played, etc. will be explored. Gulabo ji will also provide an insight on the revival of Kalbeliya and how it gained popularity among masses. This entire discussion will be followed by a performance by Gulabo ji and a question and answer session.
    </p>
    <h4 class="ui header">Event Dates</h4>
    <p class="ui left aligned">
      15<sup>th</sup> October (9:30-11:00 AM)
    </p>
  </div>
</div>

<div id="mentors">
  <div class="ui container center aligned">
    <h1 class="ui header">Mentor</h1>
    <br>
    <div class="ui grid stackable fluid center aligned top aligned">
      <div class="column four wide">
        <img class="ui image fluid rounded" src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/judges/ff-kld-gulabo-sapera.png?w=400&h=400">
      </div>
      <div class="column eight wide left aligned">
        <h2 class="ui">Gulabo Sapera</h2>
        <p class="ui">
          Gulabo Sapera is the mother of Kalbeliya dance. She started the tradition in 1981. For decades Gulabo has poured her heart and soul into her dance and uses it a vehicle to share the Kalbeliya spirit with the world. She is an international star, awarded with a Padmashri Award. Gulabo is a master artist and teacher with a large and loyal student following across the globe. She is also a famous recording artist with a mesmerizing voice. Her class is full of surprises of song and dance and words of wisdom. She lives in Jaipur. Her children are also performing artists and they tour with her.
        </p>
      </div>
    </div>
  </div>
</div>