<p class="ui left aligned">
  The Kalbeliya Lec-dem is a one and a half hour long lecture demonstration. This will focus on the story and journey of Gulabo Sapera as well as Kalbeliya as a dance form. The start of Kalbeliya, its evolution, the kind of music used, instruments played, etc. will be explored. Gulabo ji will also provide an insight on the revival of Kalbeliya and how it gained popularity among masses. This entire discussion will be followed by a performance by Gulabo ji and a question and answer session.
</p>
<h4 class="ui header">Event Dates</h4>
<p class="ui left aligned">
  15<sup>th</sup> October (9:30-11:00 AM)
</p>