<div id="about">
  <div class="ui container">
    <p class="ui left aligned">
      Why should I learn dance in school? Why should anyone dance for that matter? 
    </p>
    <p class="ui left aligned">
      Exploring these questions and expanding the idea of dance to movement, this webinar looks closely at the importance of movement in every human endeavour. Making specific connections with technology, politics, history, commerce and global markets, it pushes the scope of movement beyond performance and advocates for an expanded understanding of movement in school education and beyond. This broadens the perspective towards movement and opens up vast possibilities of accessing and imagining career choices that otherwise would have remained unexplored.
    </p>
  </div>
</div>