{{!-- <div id="about">
  <div class="ui container">
    <p class="ui left aligned">
      This webinar will address questions such as:
      - Can art change society? 
      - Can art influence the way we think and act as individuals, and as a society? 
      - How do artists make and create changes in the world today?
      - How can art be a space for fostering ideas and exploring possibilities in schools?
    </p>
    <p class="ui left aligned">
      This webinar will explore how public art can empower individuals and communities and enable conversations leading to organic change within society, and how art education can enable student engagement with social critique and higher thinking.
    </p>
    <p class="ui left aligned">
      The duration will be two hours, wherein each personality will have the floor for five minutes to showcase or discuss their artwork, following which we will proceed to discuss the main topic.
    </p>
    <p class="ui left aligned">
      Our panel consists of distinguished representatives of each basket:
      <br>- Ita Mehrotra – Visual Arts
      <br>- Samina Mishra – Film, Visual Arts
      <br>- Sanyukta Saha – Theatre
      <br>- Choiti Ghosh – Puppetry, Object Theatre
      <br>- Mehneer Sudan – Dance
      <br>- Anirban Ghosh – Music, Sound Engineering
    </p>
    <p class="ui left aligned">
      This webinar is open for all to attend! Though it will be available to all for streaming, if you would like some questions/ queries to be addressed, either for all the panellists or a specific speaker, please register for the event.
    </p>
    <h2 class="ui">Important Dates</h2>
    <p class="ui left aligned">
      1. Last Date to Register (If you wish to ask questions) – 16<sup>th</sup> October, 2020
      <br> 2. The D – Day – 17<sup>th</sup> October 2020, from 10:00 AM – 12:00 PM
    </p>
    <p class="ui left aligned">
      Do attend this for an insightful conversation!
    </p>
  </div>
</div> --}}

<div id="mentors">
  <div class="ui container center aligned">
    <h1 class="ui header">Mentors</h1>
    <div class="ui grid four columns stackable center aligned top aligned">
      <div class="column">
        <div class="ui card fluid">
          <div class="image">
            <img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/judges/i-aaacfsc-ita-mehrotra.png?w=400&h=400">
          </div>
          <div class="content left aligned">
            <div class="header">Ita Mehrotra</div>
            <div class="description">
              <button class="ui button small primary right floated" onClick="$('#i-aaacfsc-ita-mehrotra').modal('show')">Read Bio</button>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui card fluid">
          <div class="image">
            <img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/judges/i-aaacfsc-samina-mishra.png?w=400&h=400">
          </div>
          <div class="content left aligned">
            <div class="header">Samina Mishra</div>
            <div class="description">
              <button class="ui button small primary right floated" onClick="$('#i-aaacfsc-samina-mishra').modal('show')">Read Bio</button>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui card fluid">
          <div class="image">
            <img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/judges/i-aaacfsc-choiti-ghosh.png?w=400&h=400">
          </div>
          <div class="content left aligned">
            <div class="header">Choiti Ghosh</div>
            <div class="description">
              <button class="ui button small primary right floated" onClick="$('#i-aaacfsc-choiti-ghosh').modal('show')">Read Bio</button>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui card fluid">
          <div class="image">
            <img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/judges/i-aaacfsc-mehneer-sudan.png?w=400&h=400">
          </div>
          <div class="content left aligned">
            <div class="header">Mehneer Sudan</div>
            <div class="description">
              <button class="ui button small primary right floated" onClick="$('#i-aaacfsc-mehneer-sudan').modal('show')">Read Bio</button>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui card fluid">
          <div class="image">
            <img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/judges/i-aaacfsc-sanyukta-saha.png?w=400&h=400">
          </div>
          <div class="content left aligned">
            <div class="header">Sanyukta Saha</div>
            <div class="description">
              <button class="ui button small primary right floated" onClick="$('#i-aaacfsc-sanyukta-saha').modal('show')">Read Bio</button>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui card fluid">
          <div class="image">
            <img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/judges/i-aaacfsc-anirban-ghosh.png?w=400&h=400">
          </div>
          <div class="content left aligned">
            <div class="header">Anirban Ghosh</div>
            <div class="description">
              <button class="ui button small primary right floated" onClick="$('#i-aaacfsc-anirban-ghosh').modal('show')">Read Bio</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui modal" id="i-aaacfsc-ita-mehrotra">
  <div class="header">
    <h2 class="ui">Ita Mehrotra</h2>
  </div>
  <div class="scrolling content">
    <div class="ui grid stackable fluid">
      <div class="column four wide">
        <img class="ui image fluid rounded" src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/judges/i-aaacfsc-ita-mehrotra.png?w=400&h=400">
      </div>
      <div class="column twelve wide">
        <p class="ui left aligned">
          Ita is a visual artist, arts educator and researcher based out of New Delhi. She leads Artreach India, a not for profit that works towards transforming the lives of children, young people and women from marginalised communities across India, through art (<a href="http://www.artreachindia.org">http://www.artreachindia.org</a>). Prior to Artreach, Ita has worked with several pioneering grass roots social development and education initiatives such as the Mazdoor Kisan Shakti Sangathan, Akshara Foundation and Organisation for Early Literacy Programme.  Her own non-fiction comics and illustrations, often based on people's movements, inspiring feminist leaders, and personal life experiences, have been published by Yoda Press, Goethe Institute, thewire.in, Zubaan Books, among others and have been exhibited widely. Ita has an MPhil from the School of Arts and Aesthetics, JNU, she is a Young Connectors Fellow (Swedish Institute), a recipient of the KHOJ Negotiating Routes Grant, the Fumetto Festival Apprenticeship (Swiss Arts Council), among other fellowships. She is currently working on her first full length graphic narrative. 
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ui modal" id="i-aaacfsc-samina-mishra">
  <div class="header">
    <h2 class="ui">Samina Mishra</h2>
  </div>
  <div class="scrolling content">
    <div class="ui grid stackable fluid">
      <div class="column four wide">
        <img class="ui image fluid rounded" src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/judges/i-aaacfsc-samina-mishra.png?w=400&h=400">
      </div>
      <div class="column twelve wide">
        <p class="ui left aligned">
          Samina Mishra is a documentary filmmaker, writer, and teacher based in New Delhi, with a special interest in media for and about children. Her work uses the lens of childhood, identity and education to reflect the experiences of growing up in India. She teaches the International Baccalaureate Film programme at Pathways School Noida, collaborates on Torchlight, a web journal on libraries and bookish love, and curates for Half Ticket, the children’s section at the MAMI Mumbai Film Festival. She also runs The Magic Key Centre for the Arts and Childhood, a virtual resource centre for children as well as adults working with and for children, and is currently working on a documentary film on the Happiness Curriculum in Delhi government schools.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ui modal" id="i-aaacfsc-choiti-ghosh">
  <div class="header">
    <h2 class="ui">Choiti Ghosh</h2>
  </div>
  <div class="scrolling content">
    <div class="ui grid stackable fluid">
      <div class="column four wide">
        <img class="ui image fluid rounded" src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/judges/i-aaacfsc-choiti-ghosh.png?w=400&h=400">
      </div>
      <div class="column twelve wide">
        <p class="ui left aligned">
          Choiti Ghosh is an Object Theatre artist, actor, puppeteer, singer, writer and artistic director of Mumbai-Delhi based object theatre company ~ Tram Arts Trust.
        </p>
        <p class="ui left aligned">
          Born into a family of theatre artists, she was initiated very early onto the stage. She began her professional career in theatre in 1998.
        </p>
        <p class="ui left aligned">
          In 2010, following a brief professional workshop in Object Theatre under the Belgian Object Theatre artiste Agnés Limbos at the Institut International de la Marionnette (IIM), in Charleville Mezieres, France,
        </p>
        <p class="ui left aligned">
          Choiti has since dedicated her entire time to the practice & dissemination of Object Theatre in India.
        </p>
        <p class="ui left aligned">
          Besides making plays for both adults & children, Tram's artistic practices include workshops with children & young people; workshops with educators, & adults who work with children; training programmes for theatre artists & other arts-based professionals.
        </p>
        <p class="ui left aligned">
          Her plays have travelled all over India as well as to festivals in Germany, United States, Sri Lanka, Japan.
        </p>
        <p class="ui left aligned">
          As a director she has been invited to France (Theatre Gerard Phillippe, Paris), Germany (ASSITEJ Germany Directors Gathering, Berlin) & the UK (British Council India Showcase delegate) to share artistic practices.
        </p>
        <p class="ui left aligned">
          Choiti has been a researcher-in-residence at the Deutsches Forum fur Figurentheatre und Puppenspeilkunst, Bochum, Germany & at the IIM, Charleville Mezieres.
        </p>
        <p class="ui left aligned">
          She was a recipient of the Sahitya Rangabhoomi Vinod Doshi Fellowship in 2011 and the Ustad Bismillah Khan Yuva Puraskar by Sangeet Nataka Akademi, for puppetry in 2016
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ui modal" id="i-aaacfsc-mehneer-sudan">
  <div class="header">
    <h2 class="ui">Mehneer Sudan</h2>
  </div>
  <div class="scrolling content">
    <div class="ui grid stackable fluid">
      <div class="column four wide">
        <img class="ui image fluid rounded" src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/judges/i-aaacfsc-mehneer-sudan.png?w=400&h=400">
      </div>
      <div class="column twelve wide">
        <p class="ui left aligned">
          Mehneer Sudan ​is a Performing Artist, Choreographer and Educator working in the field of Contemporary and Jazz Dance for the past 20 years. She is co-founder of ​Dance Dialogues (Mumbai),​ and founder member of ​Gati Dance Forum, ​Delhi.
        </p>
        <p class="ui left aligned">
          She received a Special Jury prize, second runner’s up at the Prakriti Excellence in Contemporary Dance Awards, Chennai, 2014. In the same year her work ‘Of Women – An Inter-disciplinary, collaborative performance’ was presented with the support of Goethe-Institut /Max Mueller Bhavan, Delhi in collaboration with Pro-Helvetia Swiss Arts Council .
        </p>
        <p class="ui left aligned">
          She has presented her work at Contemporary Arts week, Delhi 2015, IGNITE! Festival of Contemporary Dance, Delhi 2012 and 2010, Celebrate Bandra festival, Mumbai 2011, Gati Summer Dance Residency 2011, Kala Ghoda Festival, Mumbai 2010, Communal Harmony Day, Gujarat 2006; among other performances.
        </p>
        <p class="ui left aligned">
          With an interest in dance pedagogy she has taught at various dance academies, and in schools in London, Leeds, Cambodia and many cities across India.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ui modal" id="i-aaacfsc-sanyukta-saha">
  <div class="header">
    <h2 class="ui">Sanyukta Saha</h2>
  </div>
  <div class="scrolling content">
    <div class="ui grid stackable fluid">
      <div class="column four wide">
        <img class="ui image fluid rounded" src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/judges/i-aaacfsc-sanyukta-saha.png?w=400&h=400">
      </div>
      <div class="column twelve wide">
        <p class="ui left aligned">
          Sanyukta is an applied theatre practitioner based out of Delhi. She is a part of a vibrant community of theatre-makers and facilitators, known as Aagaaz Theatre Trust. She is currently working with adolescent girls in Sawai Madhopur district, Rajasthan with a Socially Engaged Arts Practice grant from KHOJ. Her curiosities and practice span community-based theatre, education, theatre for young audiences, and drama and its applications for professionals. She is currently working towards understanding and engaging with the relationship between mental health and social change in her practice with children, adolescents and young adults. She has recently co-founded A-chaar Collective, an organisation that creates art and play-based spaces to de-stigmatise conversations around mental health, along with three other fellow mad-hatters. Her experiences with pandies' theatre, Aga Khan Foundation, Think Arts and many other collaborations, shape her approach. She has been supported in her journey over the last 15 years by Inlaks Scholarship, UnLtd India, Changelooms Leadership Journey, and ARThink South Asia.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ui modal" id="i-aaacfsc-anirban-ghosh">
  <div class="header">
    <h2 class="ui">Anirban Ghosh</h2>
  </div>
  <div class="scrolling content">
    <div class="ui grid stackable fluid">
      <div class="column four wide">
        <img class="ui image fluid rounded" src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/judges/i-aaacfsc-anirban-ghosh.png?w=400&h=400">
      </div>
      <div class="column twelve wide">
        <p class="ui left aligned">
          Baan is an arts entrepreneur, musician/composer, and an avid adventure lover. He has more than 15 years of experience as a professional musician performing and recording worldwide with musicians and artists around the globe. He is a recipient of the ARThink South Asia Fellowship, RSA fellowship (UK), British Council’s Young Creative Entrepreneur, Goethe Institut’s SAMUR fellowship, Harvard Business School's SNMI (declined) and Gates Foundation’s Fellowship in Leadership & Innovation. He has had an exciting career in the corporate world (thanks to his foray into the world of business management and information technology) but chose to pursue arts as it brings him closer to his heart. Apart from playing music, he currently serves as the Managing Trustee of an arts based not-for-profit and is also working on an artists’- led alternative performance space – WIP LABS as a co-founder, runs a podcast called NMWR and is the co-founder of a multi-arts live performance project Dastaan LIVE.
        </p>
      </div>
    </div>
  </div>
</div>