<p class="ui left aligned">
  This webinar will address questions such as:
  - Can art change society? 
  - Can art influence the way we think and act as individuals, and as a society? 
  - How do artists make and create changes in the world today?
  - How can art be a space for fostering ideas and exploring possibilities in schools?
</p>
<p class="ui left aligned">
  This webinar will explore how public art can empower individuals and communities and enable conversations leading to organic change within society, and how art education can enable student engagement with social critique and higher thinking.
</p>
<p class="ui left aligned">
  This webinar will have esteemed artists/ performers/ filmmakers as its panellists. The duration will be two hours, wherein each personality will have the floor for ten minutes to showcase or discuss their artwork, following which we will proceed to discuss the main topic. 
</p>