<p class="ui left aligned">
  This webinar will address questions such as:
  - Can art change society? 
  - Can art influence the way we think and act as individuals, and as a society? 
  - How do artists make and create changes in the world today?
  - How can art be a space for fostering ideas and exploring possibilities in schools?
</p>
<p class="ui left aligned">
  This webinar will explore how public art can empower individuals and communities and enable conversations leading to organic change within society, and how art education can enable student engagement with social critique and higher thinking.
</p>
<p class="ui left aligned">
  The duration will be two hours, wherein each personality will have the floor for five minutes to showcase or discuss their artwork, following which we will proceed to discuss the main topic.
</p>
<p class="ui left aligned">
  Our panel consists of distinguished representatives of each basket:
  <br>- Ita Mehrotra – Visual Arts
  <br>- Samina Mishra – Film, Visual Arts
  <br>- Sanyukta Saha – Theatre
  <br>- Choiti Ghosh – Puppetry, Object Theatre
  <br>- Mehneer Sudan – Dance
  <br>- Anirban Ghosh – Music, Sound Engineering
</p>
<p class="ui left aligned">
  This webinar is open for all to attend! Though it will be available to all for streaming, if you would like some questions/ queries to be addressed, either for all the panellists or a specific speaker, please register for the event.
</p>
<h2 class="ui">Important Dates</h2>
<p class="ui left aligned">
  1. Last Date to Register (If you wish to ask questions) – 5<sup>th</sup> October, 2020
  <br> 2. The D – Day – 17<sup>th</sup> October 2020, from 10:00 AM – 12:00 PM
</p>
<p class="ui left aligned">
  Do attend this for an insightful conversation!
</p>