<div id="about">
  <div class="ui container">
    <p class="ui left aligned">
      This webinar will address questions such as:
      - Can art change society? 
      - Can art influence the way we think and act as individuals, and as a society? 
      - How do artists make and create changes in the world today?
      - How can art be a space for fostering ideas and exploring possibilities in schools?
    </p>
    <p class="ui left aligned">
      This webinar will explore how public art can empower individuals and communities and enable conversations leading to organic change within society, and how art education can enable student engagement with social critique and higher thinking.
    </p>
    <p class="ui left aligned">
      The duration will be two hours, wherein each personality will have the floor for five minutes to showcase or discuss their artwork, following which we will proceed to discuss the main topic.
    </p>
    <p class="ui left aligned">
      Our panel consists of distinguished representatives of each basket:
      <br>- Ita Mehrotra – Visual Arts
      <br>- Samina Mishra – Film, Visual Arts
      <br>- Sanyukta Saha – Theatre
      <br>- Choiti Ghosh – Puppetry, Object Theatre
      <br>- Mehneer Sudan – Dance
      <br>- Anirban Ghosh – Music, Sound Engineering
    </p>
    <p class="ui left aligned">
      This webinar is open for all to attend! Though it will be available to all for streaming, if you would like some questions/ queries to be addressed, either for all the panellists or a specific speaker, please register for the event.
    </p>
    <h2 class="ui">Important Dates</h2>
    <p class="ui left aligned">
      1. Last Date to Register (If you wish to ask questions) – 16<sup>th</sup> October, 2020
      <br> 2. The D – Day – 17<sup>th</sup> October 2020, from 10:00 AM – 12:00 PM
    </p>
    <p class="ui left aligned">
      Do attend this for an insightful conversation!
    </p>
  </div>
</div>

<div id="judges">
  <div class="ui container center aligned">
    <h1 class="ui header">Mentors</h1>
    <div class="ui grid four columns stackable center aligned top aligned">
      <div class="column">
        <div class="ui card fluid">
          <div class="image">
            <img src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/judges/i-aaacfsc-ita-mehrotra.png?w=400&h=400">
          </div>
          <div class="content left aligned">
            <div class="header">Ita Mehrotra</div>
            <div class="description">
              <button class="ui button small primary" onClick="$('#i-aaacfsc-ita-mehrotra').modal('show')">Read Bio</button>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui card fluid">
          <div class="image">
            <img src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/judges/i-aaacfsc-samina-mishra.png?w=400&h=400">
          </div>
          <div class="content left aligned">
            <div class="header">Samina Mishra</div>
            <div class="description">
              <button class="ui button small primary" onClick="$('#i-aaacfsc-samina-mishra').modal('show')">Read Bio</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui modal" id="i-aaacfsc-ita-mehrotra">
  <div class="header">
    <h2 class="ui">Ita Mehrotra</h2>
  </div>
  <div class="scrolling content">
    <div class="ui grid stackable fluid">
      <div class="column four wide">
        <img class="ui image fluid" src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/judges/i-aaacfsc-ita-mehrotra.png?w=400&h=400">
      </div>
      <div class="column twelve wide">
        <p class="ui left aligned">
          Ita is a visual artist, arts educator and researcher based out of New Delhi. She leads Artreach India, a not for profit that works towards transforming the lives of children, young people and women from marginalised communities across India, through art (<a href="http://www.artreachindia.org">http://www.artreachindia.org</a>). Prior to Artreach, Ita has worked with several pioneering grass roots social development and education initiatives such as the Mazdoor Kisan Shakti Sangathan, Akshara Foundation and Organisation for Early Literacy Programme.  Her own non-fiction comics and illustrations, often based on people's movements, inspiring feminist leaders, and personal life experiences, have been published by Yoda Press, Goethe Institute, thewire.in, Zubaan Books, among others and have been exhibited widely. Ita has an MPhil from the School of Arts and Aesthetics, JNU, she is a Young Connectors Fellow (Swedish Institute), a recipient of the KHOJ Negotiating Routes Grant, the Fumetto Festival Apprenticeship (Swiss Arts Council), among other fellowships. She is currently working on her first full length graphic narrative. 
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ui modal" id="i-aaacfsc-samina-mishra">
  <div class="header">
    <h2 class="ui">Samina Mishra</h2>
  </div>
  <div class="scrolling content">
    <div class="ui grid stackable fluid">
      <div class="column four wide">
        <img class="ui image fluid" src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/judges/i-aaacfsc-samina-mishra.png?w=400&h=400">
      </div>
      <div class="column twelve wide">
        <p class="ui left aligned">
          Ita is a visual artist, arts educator and researcher based out of New Delhi. She leads Artreach India, a not for profit that works towards transforming the lives of children, young people and women from marginalised communities across India, through art (<a href="http://www.artreachindia.org">http://www.artreachindia.org</a>). Prior to Artreach, Ita has worked with several pioneering grass roots social development and education initiatives such as the Mazdoor Kisan Shakti Sangathan, Akshara Foundation and Organisation for Early Literacy Programme.  Her own non-fiction comics and illustrations, often based on people's movements, inspiring feminist leaders, and personal life experiences, have been published by Yoda Press, Goethe Institute, thewire.in, Zubaan Books, among others and have been exhibited widely. Ita has an MPhil from the School of Arts and Aesthetics, JNU, she is a Young Connectors Fellow (Swedish Institute), a recipient of the KHOJ Negotiating Routes Grant, the Fumetto Festival Apprenticeship (Swiss Arts Council), among other fellowships. She is currently working on her first full length graphic narrative. Samina Mishra is a documentary filmmaker, writer, and teacher based in New Delhi, with a special interest in media for and about children. Her work uses the lens of childhood, identity and education to reflect the experiences of growing up in India. She teaches the International Baccalaureate Film programme at Pathways School Noida, collaborates on Torchlight, a web journal on libraries and bookish love, and curates for Half Ticket, the children’s section at the MAMI Mumbai Film Festival. She also runs The Magic Key Centre for the Arts and Childhood, a virtual resource centre for children as well as adults working with and for children, and is currently working on a documentary film on the Happiness Curriculum in Delhi government schools.
        </p>
      </div>
    </div>
  </div>
</div>