<p class="ui left aligned">
  Bamboo is found abundantly in Wayanad, Kerala. Uravu is a Non-Governmental Organization that encourages the modern approach of product making while preserving the traditional methodology and craftsmanship of women creating a plethora of products solely using bamboo.
</p>
<p class="ui left aligned">
  We aim to provide a platform to introduce this unique practice through a Lecture Demonstration from the original artists of Wayanad, Kerala.
</p>
<p class="ui left aligned">
  The duration of this session will be One and a half hours. The medium of communication in this demonstration will be Malayalam as well as English. This demonstration is open for all to view.
</p>
<p class="ui left aligned">
  Join us as we celebrate the Women of Kerala and hear about their experience first-hand, all while they put up a step by step demonstration of bamboo product making!
</p>
<h2 class="ui">Important Dates</h2>
<p class="ui left aligned">
  <br> 1. Last Date to register – 5<sup>th</sup> October, 2020
  <br> 2. The D – Day(s) – 17<sup>th</sup> October, from 9:00 AM – 10:00 AM