<p class="ui left aligned">
  Bamboo is found abundantly in Wayanad, Kerala. Uravu is a Non-Governmental Organization that encourages the traditional methodology and craftsmanship of the tribes (Adivasi women) in creating a plethora of products solely using bamboo.
</p>
<p class="ui left aligned">
  We aim to provide a platform to introduce this unique practice through a Lecture Demonstration from the original artists of Wayanad, Kerala.
</p>
<p class="ui left aligned">
  The duration of this session will be One and a half hours. The medium of communication in this demonstration will be Malayalam as well as English. 
</p>
<p class="ui left aligned">
  Join us as we celebrate the Adivasi Women of Kerala and get a glimpse of their beautiful culture!
</p>