{{!-- <div id="about">
  <div class="ui container">
    <p class="ui left aligned">
      Bamboo is found abundantly in Wayanad, Kerala. Uravu is a Non-Governmental Organization that encourages the modern approach of product making while preserving the traditional methodology and craftsmanship of women creating a plethora of products solely using bamboo.
    </p>
    <p class="ui left aligned">
      We aim to provide a platform to introduce this unique practice through a Lecture Demonstration from the original artists of Wayanad, Kerala.
    </p>
    <p class="ui left aligned">
      The duration of this session will be One and a half hours. The medium of communication in this demonstration will be Malayalam as well as English. This demonstration is open for all to view.
    </p>
    <p class="ui left aligned">
      Join us as we celebrate the Women of Kerala and hear about their experience first-hand, all while they put up a step by step demonstration of bamboo product making!
    </p>
    <h2 class="ui">Important Dates</h2>
    <p class="ui left aligned">
      <br> 1. Last Date to register – 16<sup>th</sup> October, 2020
      <br> 2. The D – Day(s) – 17<sup>th</sup> October, from 9:00 AM – 10:00 AM
  </div>
</div> --}}

<div id="mentors">
  <div class="ui container center aligned">
    <br>
    <div class="ui grid stackable fluid center aligned">
      <div class="column six wide middle aligned">
        <img class="ui image fluid rounded" src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/uravu-logo.png?w=400">
      </div>
      <div class="column eight wide left aligned">
        <h2 class="ui">Uravu</h2>
        <p class="ui">
          Uravu Indigenous Science and Technology Study Centre commonly known as Uravu located in Thrikaipetta village of Wayanad District, Kerala is a not for profit organisation that strives for rural empowerment through sustainable solutions.
        </p>
        <p class="ui">
          Established in 1996, URAVU works with people, governments and businesses to facilitate initiatives with the prime motive of sustainable development and implements focused end-to-end programs in the bamboo sector. Promotion of bamboo handicrafts as a means of employment and income generation for rural women, promotion & cultivation of bamboo for its environmental and economic benefits and bamboo knowledge dissemination programs in the form of skill development trainings and workshops are the core activities of the organisation. 
        </p>
        <p class="ui">
          Websites: <a href="www.uravu.in">www.uravu.in</a>, <a href="www.uravustore.com">www.uravustore.com</a>
        </p>
      </div>
    </div>
  </div>
</div>