<div id="about">
  <div class="ui container">
    <p class="ui left aligned">
      The dynamic world of art and design provides an array of career opportunities from designing floral arrangements to creating movie sets. The range of art and design careers can present an opportunity for just about every creative person.
    </p>
    <p class="ui left aligned">
      Working in art and design may seem like a wonderfully idyllic and relaxed career choice to our budding artists, where they have pure freedom to let their creative juices flow. However, it may surprise them to know that these career paths are a lot of hard work. This webinar is tailor-made for those who seek the essence of how a career in visual arts is. It will also help future artists to discover what visual art stands for. 
    </p>
    <p class="ui left aligned">
      Our panellists are:
      1. John Davy - Artist, Educator and Curator 
      2. Murali Cheeroth - Visual and Performance Artist
      3. Jayadeep RS - Professor, National Institute of Fashion Technology, Kannur
      4. Anand Hirvey - Graphic Designer and Illustrator
    </p>
    <p class="ui left aligned">
      They will not only walk us through their journey as professionals but will also share their opinion on frequently asked queries and feedback for creating a good portfolio for art and design institutes. The duration will be one hour, and the medium of communication will be English. 
    </p>
    <p class="ui left aligned">
      This webinar is open for all to attend! Though it will be available to all for streaming, if you would have some questions/queries to be addressed, either for all the panellists or a specific speaker, please register for the event.
    </p>
    <h2 class="ui">Important Dates</h2>
    <p class="ui left aligned">
      1. Last Date of submission of the Artwork – 16<sup>th</sup> October 2020
      <br> 2. Result Declaration – 15<sup>th</sup> October 2020, from 2:00 PM – 3:00 PM
    </p>
  </div>
</div>

<div id="mentors">
  <div class="ui container center aligned">
    <h1 class="ui header">Mentors</h1>
    <div class="ui grid four columns stackable center aligned top aligned">
      <div class="column">
        <div class="ui card fluid">
          <div class="image">
            <img src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/judges/i-cc-anand-hirvey.png?w=400&h=400">
          </div>
          <div class="content left aligned">
            <div class="header">Anand Hirvey</div>
            <div class="description">
              <button class="ui button small primary right floated" onClick="$('#i-cc-anand-hirvey').modal('show')">Read Bio</button>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui card fluid">
          <div class="image">
            <img src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/judges/i-cc-jayadeep-rs.png?w=400&h=400">
          </div>
          <div class="content left aligned">
            <div class="header">Jaydeep R S</div>
            <div class="description">
              <button class="ui button small primary right floated" onClick="$('#i-cc-jayadeep-rs').modal('show')">Read Bio</button>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui card fluid">
          <div class="image">
            <img src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/judges/i-aaacfsc-john-davy.png?w=400&h=400">
          </div>
          <div class="content left aligned">
            <div class="header">John Davy</div>
            <div class="description">
              <button class="ui button small primary right floated" onClick="$('#i-aaacfsc-john-davy').modal('show')">Read Bio</button>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui card fluid">
          <div class="image">
            <img src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/judges/i-cc-murali-cheeroth.png?w=400&h=400">
          </div>
          <div class="content left aligned">
            <div class="header">Murali Cheeroth</div>
            <div class="description">
              <button class="ui button small primary right floated" onClick="$('#i-cc-murali-cheeroth').modal('show')">Read Bio</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui modal" id="i-cc-anand-hirvey">
  <div class="header">
    <h2 class="ui">Anand Hirvey</h2>
  </div>
  <div class="scrolling content">
    <div class="ui grid stackable fluid">
      <div class="column four wide">
        <img class="ui image fluid rounded" src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/judges/i-cc-anand-hirvey.png?w=400&h=400">
      </div>
      <div class="column twelve wide">
        <p class="ui left aligned">
          Anand Hirvey is VP - Brand Identity at Paytm. He fell in love with typography and magazine design, and has been drawing since the age of 7. An alumnus of College of Art, Delhi, he’s worked as a Graphic Designer at India Today, and then started Liquid Designs - A brand identity studio. He loves food, travelling to offbeat destinations &, technology. He wants to create his own graphic novel one day.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ui modal" id="i-cc-jayadeep-rs">
  <div class="header">
    <h2 class="ui">Jaydeep R S</h2>
  </div>
  <div class="scrolling content">
    <div class="ui grid stackable fluid">
      <div class="column four wide">
        <img class="ui image fluid rounded" src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/judges/i-cc-jayadeep-rs.png?w=400&h=400">
      </div>
      <div class="column twelve wide">
        <p class="ui left aligned">
          Born and brought up in a small village named Kadakkal at Kollam District, Kerala state. Completed his graduation in Fine Arts (Painting) from College of Fine Arts, Thiruvananthapuram, Kerala in the year 1996 and completed post-graduation in Graphics (print making) from M S University of Baroda, Gujarat in the year 1999.
        </p>
        <p class="ui left aligned">
          He worked as Animator, Illustrator and Art instructor in different organizations before joining in National Institute of Fashion Technology (NIFT). He joined in NIFT Chennai campus in the year 2001 as Assistant professor for Fashion Illustration. Parallel to the teaching assignments, he was practicing Art and he received two state awards from Kerala Lalit Kala Academy (1998 & 2004) and National scholarship from Ministry of Human Resource Development, New Delhi (1996). He has organized many solo shows and participated in many groups shows across the country. His academic expertise is in Art, Art history, Visual studies, Design fundamentals, Design process, Design research and craft and culture related areas. His research area is in ‘Craft and Visual Identity’.  At present he is working as Professor in Design at NIFT Kannur Campus.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ui modal" id="i-aaacfsc-john-davy">
  <div class="header">
    <h2 class="ui">John Davy</h2>
  </div>
  <div class="scrolling content">
    <div class="ui grid stackable fluid">
      <div class="column four wide">
        <img class="ui image fluid rounded" src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/judges/i-aaacfsc-john-davy.png?w=400&h=400">
      </div>
      <div class="column twelve wide">
        <p class="ui left aligned">
          John Davy is an artist turned teacher who chose to impart his amalgamated knowledge in the interdisciplinary fields of art, design and culture accumulated from years of keen analysis and study of diverse subjects. He holds reputed degrees in the fields of art and design and has gained numerous acclamations which showcases his zeal for professional progress and career advancement.
        </p>
        <p class="ui left aligned">
          John Davy has the experience of 32 years as an artist and has the teaching experience of 15 years. His exemplary teaching skills coupled with unique teaching methods galvanize students to explore the new possibilities of gaining knowledge by exploring beyond what is delivered to them. This is how he strives towards his vision towards an interdisciplinary education system involving subjects as well as skills.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ui modal" id="i-cc-murali-cheeroth">
  <div class="header">
    <h2 class="ui">Murali Cheeroth</h2>
  </div>
  <div class="scrolling content">
    <div class="ui grid stackable fluid">
      <div class="column four wide">
        <img class="ui image fluid rounded" src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/judges/i-cc-murali-cheeroth.png?w=400&h=400">
      </div>
      <div class="column twelve wide">
        <p class="ui left aligned">
          Murali Cheeroth has exhibited in over 75 significant shows across the globe in the last two decades of his art practice. Among his collectors are many institutions, museums VB but XC MN NB CJC CV and BCZ private art collectors. Though MN BB n NB mainly he works on paintings and videos now, he had worked in the past extensively on printmaking and theatre. His visual cultures refer deeply to a wide variety of sources in the cultural sphere and contain within them a can NB CBC conversation with history of representation in visual media-- fine art of course- but also cinema, music and above all Architecture.
        </p>
        <p class="ui left aligned">
          He is current explorations include the Architecture of the city, urbanization and urban cultures, explored within the history of visual representation mentioned above. Especially he is looking closely at the idea of re-construction; infrastructure; technology, speed and change; intersections of local and the global, multiple layers of urban identities and so on. Murali’s each work is located and hence needs to be understood within these larger thematic explorations both in humanities, social sciences and in visual art media.
        </p>
        <p class="ui left aligned">
          He has taught in CEPT- Ahmedabad, Kanoria Centre for Art- Ahmedabad, National Institute of Fashion Technology –Bangalore and Chennai. His engagement with these broad range of institutions is readable from his conceptual and figurative concerns.
        </p>
        <p class="ui left aligned">
          His art education includes BFA and MFA from Shantinikethan, West Bengal and advanced computer diploma in digital media.
        </p>
      </div>
    </div>
  </div>
</div>