<div id="about">
  <div class="ui container">
    <p class="ui left aligned">
      The dynamic world of art and design provides an array of career opportunities from designing floral arrangements to creating movie sets. The range of art and design careers can present an opportunity for just about every creative person.
    </p>
    <p class="ui left aligned">
      Working in art and design may seem like a wonderfully idyllic and relaxed career choice to our budding artists, where they have pure freedom to let their creative juices flow. However, it may surprise them to know that these career paths are a lot of hard work. This webinar is tailor-made for those who seek the essence of how a career in visual arts is. It will also help future artists to discover what visual art stands for. 
    </p>
    <p class="ui left aligned">
      Our panellists are:
      1. John Davy - Artist, Educator and Curator 
      2. Murali Cheeroth - Visual and Performance Artist
      3. Jayadeep RS - Professor, National Institute of Fashion Technology, Kannur
      4. Anand Hirvey - Graphic Designer and Illustrator
    </p>
    <p class="ui left aligned">
      They will not only walk us through their journey as professionals but will also share their opinion on frequently asked queries and feedback for creating a good portfolio for art and design institutes. The duration will be one hour, and the medium of communication will be English. 
    </p>
    <p class="ui left aligned">
      This webinar is open for all to attend! Though it will be available to all for streaming, if you would have some questions/queries to be addressed, either for all the panellists or a specific speaker, please register for the event.
    </p>
    <h2 class="ui">Important Dates</h2>
    <p class="ui left aligned">
      1. Last Date of submission of the Artwork – 16<sup>th</sup> October 2020
      <br> 2. Result Declaration – 15<sup>th</sup> October 2020, from 2:00 PM – 3:00 PM
    </p>
  </div>
</div>