<p class="ui left aligned">
  Freedom is a desire. Freedom is an expression. Freedom is a speech.
  But the question is, what is freedom to you?
</p>
<p class="ui left aligned">
  The Spirit of Freedom requires the students to ponder upon what they recognise as freedom, and what value does it hold
  in their lives. They have to search for answers in the depths of their hearts and minds. This competition will focus
  on the different interpretations of freedom, each with its unique identity.
</p>
<p class="ui left aligned">
  Students are allowed to use any medium to express themselves through drawing, painting or reenactment of famous
  paintings that inspire them. It is your world, colour it as you like it!

</p>