<div id="about">
  <div class="ui container">
    <div class="ui grid middle aligned two columns">
      <div class="column">
        <h1 class="ui">About</h1>
      </div>
      <div class="column right aligned">
        <button id="printRulesButton" class="ui button primary" onclick="window.print()">Print</button>
      </div>
    </div>
    <br>

    <p class="ui left aligned">
      Freedom is a desire. Freedom is an expression. Freedom is a speech. But the question is, what is freedom to you?
    </p>
    <p class="ui left aligned">
      The Spirit of Freedom requires the students to ponder upon what they recognise as freedom, and what value does it hold in their lives. They have to search for answers in the depths of their hearts and minds. This competition will focus on the different interpretations of freedom, each with its unique identity.
    </p>
    <p class="ui left aligned">
      Students are allowed to use any medium to express themselves through drawing, painting or reenactment of famous paintings that inspire them. It is your world, colour it as you like it!
    </p>
    <p class="ui left aligned">
      - There are two groups for participation: Grades 9-10 and Grades 11-12. 
      <br>
      - Maximum number of entries (artworks) allowed for submission per school: 10
    </p>
    <p class="ui left aligned">
      Contact person: Ms. Shaiwali Gupta (<a href="tel:+919910963558">9910963558</a>)
    </p>

    <h1 class="ui">Rules and Regulations</h1>
    <p class="ui left aligned">
      1. Entries must be in tune with the theme of the competition (It should be based around freedom).
      <br>2. Eligibility: there are two grade wise categories for the students to participate
      <br>&nbsp;&nbsp;&nbsp;&nbsp;- Group A – Grade 9-10
      <br>&nbsp;&nbsp;&nbsp;&nbsp;- Group B – Grade 11- 12
      <br>3. Medium: Drawing (using any medium; say charcoal, pencil colours, etc.), Painting or Re-enactment of famous paintings related to the theme mentioned. (Drawing and painting can be done on any surface)
      <br>4. Size: The students can work on any size of paper/ canvas.
      <br>5. Students have to create an original art piece and click a clear photograph of their artwork for us to evaluate it properly. In case of re-enactment, the picture should be clicked under a good light source. The use of photoshop is prohibited. If a work is found to be plagiarised it will be immediately disqualified.
      <br>6. Size of the photographs should not exceed more than 2 MB, and 300 dpi.
      <br>7. All submissions must include a cover sheet with the title of your artwork, size, medium.
      <br>8. This cover page must also include your full name, class section, school name and your passport size photograph.
      <br>9. Please add your artwork on the second page, along with your name and school’s name.
      <br>10. A brief description of your artwork (no more than 150 words).
    </p>
    <h2 class="ui">Criteria of Judgement</h2>
    <p class="ui left aligned">
      1. THE MIND
      <br> &nbsp;&nbsp;&nbsp;&nbsp;- The concept and its uniqueness/originality,
      <br> &nbsp;&nbsp;&nbsp;&nbsp;- Clarity of the theme from the art piece.
      <br> 2. THE BODY
      <br> &nbsp;&nbsp;&nbsp;&nbsp;- Selection and application of materials used
      <br> 3. THE SOUL
      <br> &nbsp;&nbsp;&nbsp;&nbsp;- Aesthetic quality
      <br> &nbsp;&nbsp;&nbsp;&nbsp;- Expression (vivid imagery; treats subject in a unique way)
      <br> 4. Overall impression
    </p>
    <h2 class="ui">Important Dates</h2>
    <p class="ui left aligned">
      1. Last Date of submission of the Artwork – 5<sup>th</sup> October 2020
      <br> 2. Result Declaration – 17<sup>th</sup> October 2020
    </p>
  </div>
</div>