<p class="ui left aligned">
  Creating Origami is a favourite pastime for many. But many are not aware that Origami is a very intricate art.
</p>
<p class="ui left aligned">
  Tessellations will explore the art of geometric pattern origami. To make this session insightful for us, Origami artist Ricardo Andrés Hinojosa from Monterrey, México, will join us. 
</p>
<p class="ui left aligned">
  Mr. Hinojosa, before he took on Origami as a career, was an active member in a variety of fields such as Architecture & Sociology. He later went on to learn Islamic patterns. 
</p>
<p class="ui left aligned">
  In this session, he will introduce unique 3D paper art keeping the trajectory and the ideas behind Mr. Hinojosa’s artworks. 
</p>
<p class="ui left aligned">
  The duration of this session will be two hours and will be on all three days of the celebration. The medium of communication will be English.
</p>
<p class="ui left aligned">
  The workshop does not have an age bar; it is an engaging experience for students and parents alike! Schools interested in registering should keep the following pointers in mind:
  <br> 1. Maximum number of students allowed (per school) – 4
  <br> 2. Prerequisites for the workshop – A4 size Xerox Paper, pencil/sketch-pen and scissors/cutter.
  <br> 3. Ticket Price – Rs 500/-
  <br> 4. No prior knowledge of art and craft required.
</p>
<h2 class="ui">Important Dates</h2>
<p class="ui left aligned">
  <br> 1. Last Date to register – 5<sup>th</sup> October, 2020
  <br> 2. The D – Day(s) – 15<sup>th</sup>, 16<sup>th</sup> and 17<sup>th</sup> October, from 6:30 PM – 8:30 PM
</p>
<p class="ui left aligned">
  Do sign up for an interactive session!
</p>