<div id="about">
  <div class="ui container">
    <p class="ui left aligned">
      <i>“Music gives a soul to the universe, wings to the mind, flight to the imagination, and life to everything.”</i> - Plato 
    </p>
    <p class="ui left aligned">
      The field of music is extremely vast and includes not just the artists who we all listen to but behind them are session musicians, sound engineers, producers, music business specialists and many more. Being in the field of music does not mean one is just aiming to be a pop/rock star but can also mean a career in many related fields.
    </p>
    <p class="ui left aligned">
      Mr. Aditya Balani is a well-known musician in the country who has vast experience in the world of music. He graduated from the reputed Berklee College of music, Boston which is one of the leading destinations for students wanting a career in music. Mr. Balani has performed with an array of legends, Indian and international, and he currently runs the a Global Music Institute which has the distinction of being the only partner institute of Berklee College of Music in India.
    </p>
    <p class="ui left aligned">
      His experience in the music industry gives him a unique edge and through his session students (and their parents) looking to make a career in music will gain an insight into the world of possibilities that exist within the music industry.
    </p>
    <h4 class="ui header">Event Dates</h4>
    <p class="ui left aligned">
      16<sup>th</sup> October (2-3 PM)
    </p>
  </div>
</div>