{{!-- <div id="about">
  <div class="ui container">
    <p class="ui left aligned">
      <i>“Music gives a soul to the universe, wings to the mind, flight to the imagination, and life to everything.”</i> - Plato 
    </p>
    <p class="ui left aligned">
      The field of music is extremely vast and includes not just the artists who we all listen to but behind them are session musicians, sound engineers, producers, music business specialists and many more. Being in the field of music does not mean one is just aiming to be a pop/rock star but can also mean a career in many related fields.
    </p>
    <p class="ui left aligned">
      Mr. Aditya Balani is a well-known musician in the country who has vast experience in the world of music. He graduated from the reputed Berklee College of music, Boston which is one of the leading destinations for students wanting a career in music. Mr. Balani has performed with an array of legends, Indian and international, and he currently runs the a Global Music Institute which has the distinction of being the only partner institute of Berklee College of Music in India.
    </p>
    <p class="ui left aligned">
      His experience in the music industry gives him a unique edge and through his session students (and their parents) looking to make a career in music will gain an insight into the world of possibilities that exist within the music industry.
    </p>
    <h4 class="ui header">Event Dates</h4>
    <p class="ui left aligned">
      16<sup>th</sup> October (2-3 PM)
    </p>
  </div>
</div> --}}

<div id="mentors">
  <div class="ui container center aligned">
    <h1 class="ui header">Mentor</h1>
    <br>
    <div class="ui grid stackable fluid center aligned top aligned">
      <div class="column four wide">
        <img class="ui image fluid rounded" src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/judges/sa-cc-aditya-balani.png?w=400&h=400">
      </div>
      <div class="column eight wide left aligned">
        <h2 class="ui">Aditya Balani​</h2>
        <p class="ui">
          Aditya Balani is a multi-faceted guitarist, singer-songwriter, music producer and educator. He is the Co-Founder and Director at Global Music Institute, one of the leading music colleges in India. He is an Ableton Certified Trainer and constantly strives to bring innovate teaching methodologies for his harmony, songwriting, music production and guitar courses. Aditya's work has transcended stylistic and international borders and has been featured on BBC Asia Beats, MTV Coke Studio, Pepsi MTV Indies, and BBC Radio to name a few. He has collaborated with artists from around the world including Shubha Mudgal, Khamira, Shilpa Rao, Sudeep Sen, Bellatrix and Mr. Woodnote. Constants and Variables (EP) won him Best Pop Artist at the Radio City Freedom Awards ’15 and has been listed among the Top 10 EP’s of 2015 by Rolling Stone India. Aditya’s debut album Answers released in 2013 to public and critical acclaim, features his fretless guitar work, cinematic compositions intertwined with jazz and world music influences. His song Quicksand featured on Jazz Revelation Records, was nominated for best song (Jazz/Blues) at the BIG STAR Indian Music Academy Awards. 
        </p>
      </div>
    </div>
  </div>
</div>