<div id="about">
  <div class="ui container">
    <p class="ui left aligned">
      “The beauty of the world lies in the diversity of its people”
    </p>
    <p class="ui left aligned">
      Mr Shemphanglin Khardewsaw and Mr Danny Lyngdoh, both proponents of regional Khasi music from the state of Meghalaya, lead us in an exploration of traditional Khasi instruments and music. 
    </p>
    <p class="ui left aligned">
      The lec-dem will feature five Khasi instruments, their history, construction, tuning and traditional music played on these instruments.
    </p>
    <p class="ui left aligned">
      This lec-dem is along the CBSE guidelines for cultural integration wherein students from the state of Uttar Pradesh explore and experience the culture of Meghalaya and Arunachal Pradesh.
    </p>
    <h4 class="ui header">Event Dates</h4>
    <p class="ui left aligned">
      16<sup>th</sup> October (9-11 AM)
    </p>
  </div>
</div>