<div id="about">
  <div class="ui container">
    <p class="ui left aligned">
      “The beauty of the world lies in the diversity of its people”
    </p>
    <p class="ui left aligned">
      Mr Shemphanglin Khardewsaw and Mr Danny Lyngdoh, both proponents of regional Khasi music from the state of Meghalaya, lead us in an exploration of traditional Khasi instruments and music. 
    </p>
    <p class="ui left aligned">
      The lec-dem will feature five Khasi instruments, their history, construction, tuning and traditional music played on these instruments.
    </p>
    <p class="ui left aligned">
      This lec-dem is along the CBSE guidelines for cultural integration wherein students from the state of Uttar Pradesh explore and experience the culture of Meghalaya and Arunachal Pradesh.
    </p>
    <h4 class="ui header">Event Dates</h4>
    <p class="ui left aligned">
      16<sup>th</sup> October (9-11 AM)
    </p>
  </div>
</div>

<div id="mentors">
  <div class="ui container center aligned">
    <h1 class="ui header">Mentors</h1>
    <div class="ui grid four columns stackable center aligned top aligned">
      <div class="column">
        <div class="ui card fluid">
          <div class="image">
            <img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/judges/sa-kmld-danny-lyngdoh.png?w=400&h=400">
          </div>
          <div class="content left aligned">
            <div class="header">Danny Lyngdoh</div>
            <div class="description">
              <button class="ui button small primary right floated" onClick="$('#sa-kmld-danny-lyngdoh').modal('show')">Read Bio</button>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui card fluid">
          <div class="image">
            <img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/judges/sa-kmld-shempanglin-khardewsaw.png?w=400&h=400">
          </div>
          <div class="content left aligned">
            <div class="header">Shempanglin Khardewsaw</div>
            <div class="description">
              <button class="ui button small primary right floated" onClick="$('#sa-kmld-shempanglin-khardewsaw').modal('show')">Read Bio</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui modal" id="sa-kmld-danny-lyngdoh">
  <div class="header">
    <h2 class="ui">Danny Lyngdoh</h2>
  </div>
  <div class="scrolling content">
    <div class="ui grid stackable fluid">
      <div class="column four wide">
        <img class="ui image fluid rounded" src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/judges/sa-kmld-danny-lyngdoh.png?w=400&h=400">
      </div>
      <div class="column twelve wide left aligned">
        <p class="ui">
          Graduated St. Anthony’S 2009
          <br>Diploma in Traditional Music, NEHU 2012
          <br>Diploma Classical Guitar, ABRSM 2013 
        </p>
        <p class="ui">
          <strong>Experience in Teaching</strong>
          <br>Teaching Faculty at School of Classical Guitar, Shillong, since 2013 
          <br>Badari School of Music, since 2015 
          <br>Aliyah School of Music, 2015 
          <br>Synod Higher Secondary School, 2015 
          <br>Duitara player at HTWCO (Hynniewtrep Traditional Cultural and Welfare Organisations) 2012-Present
        </p>
        <p class="ui">
          Email: <a href="mailto:dannendor@gmail.com">dannendor@gmail.com</a>
          <br>Phone: <a href="tel:+919774932188">97749 32188</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ui modal" id="sa-kmld-shempanglin-khardewsaw">
  <div class="header">
    <h2 class="ui">Shempanglin Khardewsaw</h2>
  </div>
  <div class="scrolling content">
    <div class="ui grid stackable fluid">
      <div class="column four wide">
        <img class="ui image fluid rounded" src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/judges/sa-kmld-shempanglin-khardewsaw.png?w=400&h=400">
      </div>
      <div class="column twelve wide left aligned">
        <p class="ui">
          Shempaglin has a Master in Arts and Music from Martin Luther Christian University, Shillong. He has been teaching in the Evening Lights Music Academy, Assembly Institute of Music Shillong, B.M.Pres Secondary School and several other kinds of music academies. He also received the Young Artist Award in 2017 by Northeast Zone Cultural Centre, Ministry of Culture.
        </p>
      </div>
    </div>
  </div>
</div>