<div id="about">
  <div class="ui container">
    <p class="ui left aligned">
      “The beauty of the world lies in the diversity of its people”
    </p>
    <p class="ui left aligned">
      Mr Shemphanglin Khardewsaw and Mr Danny Lyngdoh, both proponents of regional Khasi music from the state of Meghalaya, lead us in an exploration of traditional Khasi instruments and music. 
    </p>
    <p class="ui left aligned">
      The lec-dem will feature five Khasi instruments, their history, construction, tuning and traditional music played on these instruments.
    </p>
    <p class="ui left aligned">
      This lec-dem is along the CBSE guidelines for cultural integration wherein students from the state of Uttar Pradesh explore and experience the culture of Meghalaya and Arunachal Pradesh.
    </p>
    <h4 class="ui header">Event Dates</h4>
    <p class="ui left aligned">
      16<sup>th</sup> October (9-11 AM)
    </p>
  </div>
</div>


<div id="Mentors">
  <div class="ui container center aligned">
    <h1 class="ui header">Mentor</h1>
    <br>
    <div class="ui grid stackable fluid center aligned top aligned">
      <div class="column four wide">
        <img class="ui image fluid rounded" src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/judges/sa-kmld-danny-lyngdoh.png?w=400&h=400">
      </div>
      <div class="column eight wide left aligned">
        <h2 class="ui">Danny Lyngdoh​</h2>
        <p class="ui">
          GRADUATE ST. ANTHONY’S 2009
          <br>DIPLOMA IN TRADITIONAL MUSIC NEHU 2012
          <br>DIPLOMA CLASSICAL GUITAR ABRSM 2013 
        </p>
        <p class="ui">
          <strong>EXPERIENCE IN TEACHING:</strong>
          <br>TEACHING FACULTY AT SCHOOL OF CLASSICAL GUITAR SHILLONG SINCE 2013 
          <br>BADARI SCHOOL OF MUSIC SINCE 2015 
          <br>ALIYAH SCHOOL OF MUSIC 2015 
          <br>SYNOD HIGHER SECONDARY SCHOOL 2015 
          <br>DUITARA PLAYER AT HTWCO (HYNNIEWTREP TRADITIONAL  CULTURAL AND WELFARE ORGANIZATIONS) 2012 TILL DATE
        </p>
        <p class="ui">
          ADDRESS: NONGSTOIN
          <br>EMAIL: <a href="mailto:dannendor@gmail.com">dannendor@gmail.com</a>
          <br>PHONE NO: <a href="tel:+919774932188">97749 32188</a>
        </p>
      </div>
    </div>
  </div>
</div>