<p class="ui left aligned">
  Confinement doesn’t limit the arts, rather it helps in expanding horizons and moving beyond boundaries in order to try something new. The ‘Space Band’ is an online platform which calls upon artists to engage in collaborative online performances and showcase them. Pre- recorded band performances shot at home will be streamed live. Jam along to some “home-made” music and enjoy the array of performances brought to you.
</p>
<p class="ui left aligned">
  Email your submissions to <a href="mailto:outreach@snsartsfestival.in">outreach@snsartsfestival.in</a>
</p>