<div id="about">
  <div class="ui container">
    <div class="ui grid middle aligned two columns">
      <div class="column">
        <h1 class="ui">Rules and Regulations</h1>
      </div>
      <div class="column right aligned">
        <button id="printRulesButton" class="ui button primary" onclick="window.print()">Print</button>
      </div>
    </div>
    <br>

    <h3 class="ui header">Participants class group</h3>
    <p class="ui left aligned">Grades 9-12</p>
    <h3 class="ui header">Categories</h3>
    <p class="ui left aligned">
      Western vocals
      <br>
      Hindustani classical vocals
      <br>
      Instrumental – Guitar
      <br>
      Instrumental – Piano/Keyboard
      <br>
      Instrumental – Percussion
      <br>
      Instrumental – Strings
      <br>
      Own composition
    </p>

    <p class="ui left aligned">
      1. Only solo entries for each category will be accepted as competition entries. One entry cannot be a part of multiple categories.
      <br>
      2. Maximum 2 entries per category will be allowed from each participating school.
      <br>
      3. Each participating school can take part in any or all categories. One student can participate in one category. Multiple entries from the same candidate will not be entertained.
      <br>
      4. The performance should be in the form of a single take video in .mp4 format in wide-screen (landscape) mode without any editing/add-on effects/post production.
    </p>

    <h2 class="ui header">Category Specific Rules</h2>
    <h4 class="ui header">Western Vocals</h4>
    <p class="ui">
      1. Candidates may choose and sing a non-original song in any western genre
      <br>
      2. Use of backing track is allowed
      <br>
      3. Accompaniment if done by self is allowed (on any instrument)
      <br>
      4. Duration of entry: 4 minutes max.
    </p>
    <h4 class="ui header">Hindustani Vocals</h4>
    <p class="ui">
      1. Use of electronic/acoustic/virtual tanpura and/or harmonium and/or electronic/virtual tabla is allowed
      <br>
      2. Only one Bandish- Chota (fast) khayal in any choice raag with alaap and taan (in any taal).
      <br>
      3. Duration of entry: 7 minutes max.
    </p>
    <h4 class="ui header">Instrumental - Guitar</h4>
    <p class="ui">
      1. Electric/acoustic guitar may be performed with a backing track.
      <br>
      2. Unaccompanied entries for electric/classical/acoustic guitar are allowed
      <br>
      3. Song selection can be from any genre except Bollywood.
      <br>
      4. Duration of entry: 5 minutes max.
    </p>
    <h4 class="ui header">Instrumental - Piano/Keyboard</h4>
    <p class="ui">
      1. Participants may choose to play on either Piano or Keyboard (minimum 5 octave) using Piano voice.
      <br>
      2. Participants using Keyboard are not allowed to use Auto accompaniment.
      <br>
      3. The video recording should be done in a way that the fingers of the participants are visible.
      <br>
      4. Duration of entry: 5 minutes max.
    </p>
    </p>
    <h4 class="ui header">Instrumental - Percussion</h4>
    <p class="ui">
      1. Participants may choose to play any percussion instrument.
      <br>
      2. Backing tracks may be used for western percussion instruments (Drums, Cajon, Djembe etc.)
      <br>
      3. Indian percussion instruments may use virtual Nagma/Lehera
      <br>
      4. Duration of entry: 5 minutes max.
    </p>
    <h4 class="ui header">Instrumental - Strings</h4>
    <p class="ui">
      1. Participants may choose to play on any member of the strings family (violin, viola, cello or double bass)
      <br>
      2. Participants may play unaccompanied or use backing track.
      <br>
      3. If participant chooses to play in Carnatic style the use of appropriate accompaniment track is allowed
      <br>
      4. The video recording should be done in a way that the fingers of the participants are visible.
      <br>
      5. Duration of entry – 5 minutes max.
    </p>
    <h4 class="ui header">Own Composition - Vocals</h4>
    <p class="ui">
      1. Own vocal composition can be in either Hindi or English.
      <br>
      2. Composition should be solely participants’ own work.
      <br>
      3. Lyrics have to be submitted a week prior to the competition.
      <br>
      4. Participants may choose to use a backing track or self-accompanied instrument.
      <br>
      5. Duration of entry: 4 minutes max.
    </p>
  </div>
</div>