<p class="ui left aligned">
  The Kaafila festival theme for the year 2020 is ’Freedom’. Songs of freedom is a non-competitive segment celebrating
  the spirit of freedom. Shiv Nadar School Noida invites all participating schools to send in video entries of songs,
  which are based on the theme of ‘Freedom’. These will be collated and broadcast online at a designated time during the
  Festival.
  
</p>

<h2 class="ui header">Time Limitations and Submission </h2>
<p class="ui">
  Following are the criteria for selection of the entries for this segment:
  <br>
  1. The theme of the song should be ‘Freedom’
  <br>
  2. The song can be in any genre/language from any part of the world. 
  <br>
  3. The song entry should be a video in .mp4 to be submitted by the 10th of October’20 
  <br>
  4. Song entries in other languages apart from Hindi/English should be accompanied by a document with either a translation 
  of the song or a text explaining the meaning of the song.
</p>