<div id="about">
  <div class="ui container">
    <p class="ui left aligned">
      <i>“Music is the universal language of mankind.”</i> 
    </p>
    <p class="ui left aligned">
      Manta Sidhu is a vibrant musician who is a lead singer of the Manta Sidhu Ensemble.
    </p>
    <h4 class="ui header">Background of the Ensemble</h4>
    <p class="ui left aligned">
      The Manta Sidhu Ensemble is a New-Delhi based Vocal Harmony Group, that took shape as a collaboration between some exquisite musicians, to perform songs written by singer-songwriter Manta Sidhu. Featuring easy-listening music, lush vocal arrangements and hooks to keep you humming, the Ensemble’s work stands apart for its uniqueness in sound and distinctiveness in flavor. The rich lyrical appeal and melodic depth of the music have garnered much love and interest from listeners and audiences. The style that the Ensemble showcases, is undoubtedly the very first of its kind in the Indian Independent music circuit. The Ensemble released its self-titled Debut EP in May 2017, which is now followed by a full-length Album titled 'Light.'
    </p>
    <p class="ui left aligned">
      Manta Sidhu will perform and talk about composition,  her own process and the importance of poetry in music.
    </p>
    <p class="ui">
      The last date of registration is 24 hours before the performance depending on the seat availability.
    </p>
    <h4 class="ui header">Event Dates</h4>
    <p class="ui left aligned">
      17<sup>th</sup> October (2-3 PM)
    </p>
  </div>
</div>

<div id="mentors">
  <div class="ui container center aligned">
    <h1 class="ui header">Mentor</h1>
    <br>
    <div class="ui grid stackable fluid center aligned top aligned">
      <div class="column four wide">
        <img class="ui image fluid rounded" src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/judges/sa-tmss-manta-sidhu.png?w=400&h=400">
      </div>
      <div class="column eight wide left aligned">
        <h2 class="ui">Manta Sidhu</h2>
        <p class="ui">
          Manta Sidhu is a Delhi based singer-songwriter. Known for her deep, compelling voice and powerful stage presence, she has had the privilege of collaborating with some of the most renowned musicians from across the country’s independent music circuit. Manta gained popularity as the front-woman of Pop-Rock outfit MAP, which released its debut album ‘Rear View’ under major record label Times Music in 2013. Presently, she is creating a buzz with her latest project - Voice Ensemble and Harmony Group ‘The Manta Sidhu Ensemble,’ which released its debut album in May 2017 and its second album in 2019.
        </p>
        <p class="ui">
          In 2013, Manta Sidhu received the Aircel ‘Free the Music’ Award, for her contribution to Independent Music in India. Having been featured in top national magazines for her work as a musician, Manta has also been named among the most noted independent singer-songwriters in the country. Her style of songwriting stands apart for its uniqueness in sound and distinctiveness in texture. The rich lyrical appeal and melodic depth of her music has garnered much love and interest from listeners and audiences. Undoubtedly, the style that Manta represents is the first of its kind in the Indian singer-songwriter circuit. Having performed close to 500 live shows with her various outfits, she is now gearing up to record her next album with The Manta Sidhu Ensemble. 
        </p>
      </div>
    </div>
  </div>
</div>