<p class="ui left aligned">
  <i>“Music is the universal language of mankind.”</i> 
</p>
<p class="ui left aligned">
  Manta Sidhu is a vibrant musician who is a lead singer of the Manta Sidhu Ensemble.
</p>
<h4 class="ui header">Background of the Ensemble</h4>
<p class="ui left aligned">
  The Manta Sidhu Ensemble is a New-Delhi based Vocal Harmony Group, that took shape as a collaboration between some exquisite musicians, to perform songs written by singer-songwriter Manta Sidhu. Featuring easy-listening music, lush vocal arrangements and hooks to keep you humming, the Ensemble’s work stands apart for its uniqueness in sound and distinctiveness in flavor. The rich lyrical appeal and melodic depth of the music have garnered much love and interest from listeners and audiences. The style that the Ensemble showcases, is undoubtedly the very first of its kind in the Indian Independent music circuit. The Ensemble released its self-titled Debut EP in May 2017, which is now followed by a full-length Album titled 'Light.'
</p>
<p class="ui left aligned">
  Manta Sidhu will perform and talk about composition,  her own process and the importance of poetry in music.
</p>
<p class="ui">
  The last date of registration is 24 hours before the performance depending on the seat availability.
</p>
<h4 class="ui header">Event Dates</h4>
<p class="ui left aligned">
  17<sup>th</sup> October (2-3 PM)
</p>