<style>
	.header-content h1 {
		font-size: 6rem!important;
	}
</style>

{{>navbar}}
<header class="hero v-header h-container">
	<div class="photo-wrap">
		<img src="/img/strings-attached-banner.png">
	</div>
	<div class="header-overlay"></div>
	<div class="header-content text-md-center">
		<h1 class="ui header welcome">Strings Attached</h1>
		<h4 class="ui header timeless">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae quam et felis
			molestie
			lacinia. Cras mauris dui, eleifend non vehicula sed, cursus sit amet est. Etiam non lorem in felis mattis
			blandit ac ut purus. Nulla semper ipsum risus, sollicitudin pharetra risus luctus ut. Suspendisse et
			finibus</h4>
	</div>
</header>

<div id="content">

	<div id="about" class="">
		<div class="ui middle center aligned grid container">
			<h1 class="ui header">Dashboard, updates, etc.</h1>
			<div class="ui grid stackable center aligned middle aligned one columns	">
				<div class="column left aligned">
					<p class="ui">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae quam et felis molestie
						lacinia. Cras mauris dui, eleifend non vehicula sed, cursus sit amet est. Etiam non lorem in felis mattis
						blandit ac ut purus. Nulla semper ipsum risus, sollicitudin pharetra risus luctus ut. Suspendisse et
						finibus
						erat, quis feugiat enim. Phasellus et sem finibus, semper mi a, ornare dui. Etiam ac ornare tellus.
						Vestibulum mi lectus, tincidunt at neque sed, vulputate consectetur mauris. Etiam eleifend convallis
						felis,
						a tempus magna volutpat vitae.</p>
				</div>
				<div class="column left aligned">
					<p class="ui">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae quam et felis molestie
						lacinia. Cras mauris dui, eleifend non vehicula sed, cursus sit amet est. Etiam non lorem in felis mattis
						blandit ac ut purus. Nulla semper ipsum risus, sollicitudin pharetra risus luctus ut. Suspendisse et
						finibus
						erat, quis feugiat enim. Phasellus et sem finibus, semper mi a, ornare dui. Etiam ac ornare tellus.
						Vestibulum mi lectus, tincidunt at neque sed, vulputate consectetur mauris. Etiam eleifend convallis
						felis,
						a tempus magna volutpat vitae.</p>
				</div>
				<div class="column left aligned">
					<p class="ui">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae quam et felis molestie
						lacinia. Cras mauris dui, eleifend non vehicula sed, cursus sit amet est. Etiam non lorem in felis mattis
						blandit ac ut purus. Nulla semper ipsum risus, sollicitudin pharetra risus luctus ut. Suspendisse et
						finibus
						erat, quis feugiat enim. Phasellus et sem finibus, semper mi a, ornare dui. Etiam ac ornare tellus.
						Vestibulum mi lectus, tincidunt at neque sed, vulputate consectetur mauris. Etiam eleifend convallis
						felis,
						a tempus magna volutpat vitae.</p>
				</div>
				<div class="column left aligned">
					<p class="ui">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae quam et felis molestie
						lacinia. Cras mauris dui, eleifend non vehicula sed, cursus sit amet est. Etiam non lorem in felis mattis
						blandit ac ut purus. Nulla semper ipsum risus, sollicitudin pharetra risus luctus ut. Suspendisse et
						finibus
						erat, quis feugiat enim. Phasellus et sem finibus, semper mi a, ornare dui. Etiam ac ornare tellus.
						Vestibulum mi lectus, tincidunt at neque sed, vulputate consectetur mauris. Etiam eleifend convallis
						felis,
						a tempus magna volutpat vitae.</p>
				</div>
				<div class="column left aligned">
					<p class="ui">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae quam et felis molestie
						lacinia. Cras mauris dui, eleifend non vehicula sed, cursus sit amet est. Etiam non lorem in felis mattis
						blandit ac ut purus. Nulla semper ipsum risus, sollicitudin pharetra risus luctus ut. Suspendisse et
						finibus
						erat, quis feugiat enim. Phasellus et sem finibus, semper mi a, ornare dui. Etiam ac ornare tellus.
						Vestibulum mi lectus, tincidunt at neque sed, vulputate consectetur mauris. Etiam eleifend convallis
						felis,
						a tempus magna volutpat vitae.</p>
				</div>
				<div class="column left aligned">
					<p class="ui">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae quam et felis molestie
						lacinia. Cras mauris dui, eleifend non vehicula sed, cursus sit amet est. Etiam non lorem in felis mattis
						blandit ac ut purus. Nulla semper ipsum risus, sollicitudin pharetra risus luctus ut. Suspendisse et
						finibus
						erat, quis feugiat enim. Phasellus et sem finibus, semper mi a, ornare dui. Etiam ac ornare tellus.
						Vestibulum mi lectus, tincidunt at neque sed, vulputate consectetur mauris. Etiam eleifend convallis
						felis,
						a tempus magna volutpat vitae.</p>
				</div>
			</div>
		</div>
	</div>

</div>

{{>footer}}