<div class="ui computer only padded grid">
	<div class="ui top fixed borderless fluid huge menu">
		<div class="ui container">
			<a class="header item" href="/">Kaafila</a>
		</div>
	</div>
</div>
<div class="ui mobile tablet only padded grid">
	<div class="ui top fixed borderless huge fluid menu">
		<a class="header item" href="/">Kaafila</a>
	</div>
</div>