<div class="ui tablet computer only padded grid">
    <div class="ui top fixed borderless fluid huge menu">
        <div class="ui container">
            <a class="item">
                <h2 class="ui header anaktoria">Kaafila</h2>
            </a>
            <div class="right menu">
                <a href="" class="ui item">Bread & Circuses</a>
                <a href="" class="active ui item">Folk Fluence</a>
                <a href="" class="ui item">Iridescence</a>
                <a href="" class="ui item">Strings Attached</a>
                <a href="" class="ui item" id="signin">
                    <button class="ui primary button">Sign in</button>
                </a>

                {{!-- <a class="active ui simple dropdown item">
                    Bread & Circuses
                    <div class="menu">
                        <div class="item">Gallery</div>
                        <div class="item">Another action</div>
                        <div class="item">Something else here</div>
                        <div class="ui divider"></div>
                        <div class="header">Navbar header</div>
                        <div class="item">Seperated link</div>
                        <div class="item">One more seperated link</div>
                    </div>
                </a> --}}
            </div>
        </div>
    </div>
</div>
<div class="ui mobile only padded grid">
    <div class="ui top fixed borderless huge fluid menu">
        <a class="item">
            <h2 class="ui header anaktoria">Kaafila</h2>
        </a>
        <div class="right menu">
            <div id="togglebutton" class="item">
                <button class="ui icon toggle basic button">
                    <i class="content icon"></i>
                </button>
            </div>
        </div>
        <div class="ui vertical borderless fluid menu">
            <a href="" class="ui item">Bread & Circuses</a>
            <a href="" class="active ui item">Folk Fluence</a>
            <a href="" class="ui item">Iridescence</a>
            <a href="" class="ui item">Strings Attached</a>
            <a href="" class="ui item" id="signin">
                <button class="ui primary button">Sign in</button>
            </a>
        </div>
    </div>
</div>