<style>
	body {
		padding-top: 52px;
		-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: grayscale;
	}

	.ui.borderless.menu {
		background-color: transparent;
		box-shadow: none;
		flex-wrap: wrap;
		border: none;
		padding-left: 0;
		padding-right: 0;
		transition: background 200ms linear;
	}

	.ui.borderless.menu .item {
		color: white !important;
		font-family: 'timeless';
		font-weight: 700;
		padding-left: .7em;
		padding-right: .7em;
		padding-top: .8em;
		padding-bottom: .8em;
	}

	i.content.icon {
		line-height: 1em !important;
	}

	.ui.menu.vertical .ui.dropdown .menu>.item,
	.ui.menu.vertical .ui.dropdown .menu>.item:hover,
	.ui.menu.vertical .ui.dropdown .menu>.item:focus,
	.ui.menu.vertical .ui.dropdown .menu>.item:active {
		color: white !important;
	}

	.ui.borderless.menu .item:hover {
		background-color: rgba(255, 255, 255, .2);
	}

	.computer .ui.borderless.menu .active.item {
		border-top: 3px solid #085078;
		background-color: transparent;
	}

	.computer .ui.borderless.menu.scrolled .active.item {
		border-top: 3px solid white;
		background-color: transparent;
	}

	.mobile .ui.borderless.menu.scrolled .active.item {
		background-color: rgba(0, 0, 0, .2);
	}

	.circular.active {
		border: 3px solid white;
	}

	.ui.borderless.menu .togglebutton.item:hover,
	.ui.borderless.menu .signin.item:hover,
	.ui.borderless.menu .togglebutton.item:focus,
	.ui.borderless.menu .signin.item:focus,
	.ui.borderless.menu .togglebutton.item:active,
	.ui.borderless.menu .signin.item:active {
		background-color: transparent !important;
	}

	.ui.borderless.menu.scrolled {
		background: #085078;
		background: -webkit-linear-gradient(to left, #85D8CE, #085078);
		background: linear-gradient(to left, #6eb4ac, #085078);
	}

	.ui.borderless.menu .header.item {
		font-size: 20px;
		font-weight: 600;
		font-family: 'anaktoria';
	}

	.ui.borderless.menu .signin.item button {
		background: #085078;
	}

	.ui.borderless.menu button.ui.button {
		font-size: 1.1rem !important;
	}

	.ui.borderless.menu img.ui.circular {
		height: 35px !important;
		margin: -0.3em 0;
	}

	.mobile .ui.borderless.menu img.ui.circular {
		height: 40px !important;
		margin: -0.3em 0;
	}

	.ui.borderless.menu .signin.item button:hover {
		background: #074769;
	}

	.ui.borderless.menu .signin.item button:focus {
		background: #063e5c;
	}

	.mobile .ui.borderless.menu .signin.item {
		padding-right: 0;
		padding-left: 0;
	}

	.ui.borderless.menu .item button.toggle {
		background-color: #ffffff !important;
	}

	.ui.mobile.only.grid .ui.menu .ui.vertical.menu {
		display: none;
	}

	.ui.mobile.only.grid .ui.vertical.menu .dropdown.icon {
		float: unset;
	}

	.ui.mobile.only.grid .ui.vertical.menu .dropdown.icon:before {
		content: "\f0d7";
	}

	.ui.mobile.only.grid .ui.vertical.menu .ui.dropdown.item .menu {
		position: static;
		width: 100%;
		background-color: unset;
		border: none;
		box-shadow: none;
	}

	.ui.mobile.only.grid .ui.vertical.menu .ui.dropdown.item .menu {
		margin-top: 6px;
	}

	.ui.container>.ui.message {
		/* background-color: #eeeeee; */
		box-shadow: none;
		padding: 5rem 4rem;
		margin-top: 1rem;
	}

	.ui.message h1.ui.header {
		font-size: 4.5rem;
	}

	.ui.message p.lead {
		font-size: 1.3rem;
		color: #333333;
		line-height: 1.4;
		font-weight: 300;
	}
</style>

<div id="navbar" class="ui computer only padded grid">
	<div class="ui top fixed borderless fluid huge menu">
		<div class="ui container">
			<a class="header item" href="/">Kaafila</a>
			<div class="right menu">
				<a class="item {{#if active_bnc}}active{{/if}}" href="/events/bread-and-circuses">Bread & Circuses</a>
				<a class="item {{#if active_ff}}active{{/if}}" href="/events/folk-fluence">Folk Fluence</a>
				<a class="item {{#if active_i}}active{{/if}}" href="/events/iridescence">Iridescence</a>
				<a class="item {{#if active_sa}}active{{/if}}" href="/events/strings-attached">Strings Attached</a>
				{{!-- <a class="item" href="/snsartshaat">SNSN Arts Haat</a> --}}
				{{#if userData.photoURL}}
				<a class="item" href="/profile">
					<img class="ui circular image {{#if active_p}}active{{/if}}" src="{{userData.photoURL}}?width=40&height=40">
				</a>
				{{else}}
				<a class="item signin" href="/signin">
					<button class="ui button primary small">Sign in</button>
				</a>
				{{/if}}
			</div>
		</div>
	</div>
</div>
<div id="navbar" class="ui mobile tablet only padded grid">
	<div class="ui top fixed borderless huge fluid menu">
		<a class="header item" href="/">Kaafila</a>
		<div class="right menu">
			{{!-- <a href="https://docs.google.com/forms/d/e/1FAIpQLSfBwgic_LdsGIyEJxtvEwS_I1DEIBaSMvStvY5xznOPpBtoSg/viewform?usp=sf_link">
				<div class="item signin">
					<button class="ui button primary">Register</button>
				</div>
			</a> --}}
			{{#if userData.photoURL}}
			<a href="/profile">
				<div class="item signin">
					<img class="ui circular image {{#if active_p}}active{{/if}}" src="{{userData.photoURL}}?width=40&height=40">
				</div>
			</a>
			{{else}}
			<a class="item signin" href="/signin">
				<button class="ui button primary small">Sign in</button>
			</a>
			{{/if}}
			<div class="item togglebutton">
				<button class="ui icon toggle basic button">
					<i class="content icon"></i>
				</button>
			</div>
		</div>
		<div class="ui vertical borderless fluid menu">
			{{!-- <a class="item {{#if active_a}}active{{/if}}" href="/about">About</a> --}}
			<a class="item {{#if active_bnc}}active{{/if}}" href="/events/bread-and-circuses">Bread & Circuses</a>
			<a class="item {{#if active_ff}}active{{/if}}" href="/events/folk-fluence">Folk Fluence</a>
			<a class="item {{#if active_i}}active{{/if}}" href="/events/iridescence">Iridescence</a>
			<a class="item {{#if active_sa}}active{{/if}}" href="/events/strings-attached">Strings Attached</a>
		</div>
	</div>
</div>