<div class="ui computer only padded grid">
	<div class="ui top fixed borderless fluid huge menu">
		<div class="ui container">
			<a class="header item">Kaafila</a>
			{{!-- <a class="header item">
				<img src="/img/logo-main.png" alt="kaafila_logo">
			</a> --}}
			{{!-- <a class="ui dropdown item" tabindex="0">
				Dropdown <i class="dropdown icon"></i>
				<div class="menu" tabindex="-1">
					<div class="item">Action</div>
					<div class="item">Another action</div>
					<div class="item">Something else here</div>
					<div class="ui divider"></div>
					<div class="header">Navbar header</div>
					<div class="item">Seperated link</div>
					<div class="item">One more seperated link</div>
				</div>
			</a> --}}
			<div class="right menu">
				<a class="active item">Bread & Circuses</a> 
				<a class="item">Folk Fluence</a>
				<a class="item">Iridescence</a>
				<a class="item">Strings Attached</a> 
				<a class="item signin">
					<button class="ui button primary">Sign in</button>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="ui mobile tablet only padded grid">
	<div class="ui top fixed borderless huge fluid menu">
		<a class="header item">Kaafila</a>
		<div class="right menu">
			<div class="item signin">
				<button class="ui button primary">Sign in</button>
			</div>
			<div class="item togglebutton">
				<button class="ui icon toggle basic button">
					<i class="content icon"></i>
				</button>
			</div>
		</div>
		<div class="ui vertical borderless fluid menu">
			<a class="active item">Bread & Circuses</a> 
			<a class="item">Folk Fluence</a>
			<a class="item">Iridescence</a>
			<a class="item">Strings Attached</a> 
			{{!-- <div class="ui dropdown item" tabindex="0">
				Dropdown<i class="dropdown icon"></i>
				<div class="menu" tabindex="-1">
					<a class="item"> Action </a> <a class="item"> Another action </a>
					<a class="item"> Something else here </a>
					<div class="divider"></div>
					<div class="header">Navbar header</div>
					<a class="item"> Seperated link </a>
					<a class="item"> One more seperated link </a>
				</div>
			</div> --}}
		</div>
	</div>
</div>