Bread and Circuses specs:
1. 20 participants (max) and 2 teachers.
Folk Fluence 
1. 8 participants and 1 teacher.
Iridescent
1. 2 participants (tribal mask)
2. 4 participant (trash bash)
3. 2 participant (storyboard making)
Strings Attached 
1. 1 participant (solo performance)
2. 3 particpants (duo/trio performance)
3. 10 particpants (Battle of bands)

