Bread and Circuses specs:
1. 20 participants (max) and 2 teachers.
Folk Fluence 
1. 8 participants and 1 teacher.
Iridescent
1. 2 participants (tribal mask)
2. 4 participant (trash bash)
3. 2 participant (storyboard making)
Strings Attached 
1. 1 participant (solo performance)
2. 3 particpants (duo,trio performance)
3. 10 particpants (Battle of bands)



TIMINGS 
19th
Mandana Workshop - 2 [9-1:30] ??
Folk Fluence [9-11] WCH
Choreography Workshop [12-1] gymnasium
Improv Workshop [1:45 - 2:45]
Battle of the bands [3-]
storyboard [10-1]

18th 
Trash Bash [9-12]
Tribal Mask [9-12]
Composition Workshop  
Ikat [9-11]
Bread and Circuses   [10:30-2:30] [1:00-2:45]