<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta name="theme-color" content="#01b6a7">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no">
  <link rel="stylesheet" href="/css/semantic.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/fancybox.min.css" type="text/css" />
  <link rel='stylesheet' href='/css/fonts.css' />
  <link rel='stylesheet' href='/css/main.css' />
  <link rel="icon" href="/img/favicon.png">
  <!-- Primary Meta Tags -->
  <meta name="title" content="Kaafila - Shiv Nadar School Noida">
  <meta name="description" content="Kaafila - Integrated Arts Festival | Shiv Nadar School Noida">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://snsartsfestival.in/">
  <meta property="og:title" content="Kaafila - Shiv Nadar School Noida">
  <meta property="og:description" content="Kaafila - Integrated Arts Festival | Shiv Nadar School Noida">
  <meta property="og:image" content="/img/content-image.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://snsartsfestival.in/">
  <meta property="twitter:title" content="Kaafila - Shiv Nadar School Noida">
  <meta property="twitter:description" content="Kaafila - Integrated Arts Festival | Shiv Nadar School Noida">
  <meta property="twitter:image" content="/img/content-image.png">

  {{#each styles}}
  <link rel='stylesheet' href='{{this}}' />
  {{/each}}

</head>

<body id="root" cz-shortcut-listen="true">
  {{{body}}}

  <script src="/js/jquery-3.5.1.min.js"></script>
  <script src="/js/semantic.min.js"></script>
  <script src="/js/fancybox.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-firestore.js"></script>
  <script>
    var firebaseConfig = {
    apiKey: "AIzaSyC3Gk69M84axY759IpCflLpqxXo4xo-cB8",
    authDomain: "kaafila-dcfa0.firebaseapp.com",
    databaseURL: "https://kaafila-dcfa0.firebaseio.com",
    projectId: "kaafila-dcfa0",
    storageBucket: "kaafila-dcfa0.appspot.com",
    messagingSenderId: "1021581707523",
    appId: "1:1021581707523:web:5b2adca1dcf33b523e8136",
    measurementId: "G-HN4FK4NK0V"
  };
  firebase.initializeApp(firebaseConfig);
  var db = firebase.firestore();
  </script>
  
  {{#each scripts}}
  <script src="{{this}}"></script>
  {{/each}}
</body>

</html>