<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no">
  <link rel="stylesheet" href="/css/semantic.min.css" type="text/css" />
  <link rel='stylesheet' href='/css/fonts.css' />
  <link rel="icon" href="/img/favicon.png">
  {{#each headerStyles}}
  <link rel='stylesheet' href='{{this}}' />
  {{/each}}

</head>

<body id="root" cz-shortcut-listen="true">
  {{{body}}}
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/js/semantic.min.js"></script>
  
  
  
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-analytics.js"></script>

  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyBVLs6Abc0Nt0LyZQHlQd2NcL5y5FiLtWc",
      authDomain: "kaafila-8cc49.firebaseapp.com",
      databaseURL: "https://kaafila-8cc49.firebaseio.com",
      projectId: "kaafila-8cc49",
      storageBucket: "kaafila-8cc49.appspot.com",
      messagingSenderId: "821115427097",
      appId: "1:821115427097:web:492776918ba67392ea4d88",
      measurementId: "G-YT3TV95M5Y"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
  </script>
  
  {{#each scripts}}
  <script src="{{this}}"></script>
  {{/each}}
</body>

</html>
