<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/out/semantic.min.css' />
  <link rel='stylesheet' href='/css/fonts.css' />
  <link rel="icon" href="/img/favicon.png"> 
  {{#each headerStyles}}
  <link rel='stylesheet' href='{{this}}' />
  {{/each}}
</head>

<body>
    {{{body}}}
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="/out/semantic.min.js"></script>
  {{#each scripts}}
  <script src="{{this}}"></script>
  {{/each}}
</body>

</html>