<style>
	body {
		margin: 0;
	}

	.v-header {
		height: 60vh;
		display: flex;
		align-items: center;
	}

	.h-container {
		max-width: 960px;
		padding-left: 1rem;
		padding-right: 1rem;
		margin: auto;
		margin-top: 0;
		text-align: center;
	}

	.photo-wrap {
		position: absolute;
		top: 52px;
		left: 0;
		width: 100%;
		height: 60vh;
		overflow: hidden;
	}

	.photo-wrap img {
		width: auto;
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
	}

	@media screen and (max-aspect-ratio: 6/10) {
		.photo-wrap img {
			height: 100%;
		}
	}

	@media screen and (min-aspect-ratio: 6/10) {
		.photo-wrap img {
			width: 100%;
		}
	}

	.header-overlay {
		height: 60vh;
		position: absolute;
		top: 52px;
		left: 0;
		width: 100vw;
		z-index: 1;
		background: black;
		opacity: 0;
	}

	.header-content {
		z-index: 2;
		width: 100%;
	}

	.header-content img {
		margin-bottom: 20px;
	}

	.header-content h1,
	.header-content h4 {
		margin-bottom: 0;
	}

	.header-content h3 {
		display: block;
		font-weight: 200;
		padding-bottom: 2rem;
	}

	.hero h1 {
		font-size: 10rem !important;
		color: white !important;
	}

	@media (max-width: 960px) {
		.h-container {
			padding-right: 3rem;
			padding-left: 3rem;
		}
	}

	#content>div:nth-child(even) {
		background: #6eb4ac80 !important;
	}

	#content>div {
		padding-top: 5em;
		padding-bottom: 5em;
	}

	#contact,
	#updates {
		padding-top: 3em;
		padding-bottom: 3em;
	}


	#contact a,
	#dev a {
		color: #46a3ff;
	}

	.ui.borderless.menu {
		background: #085078 !important;
		background: -webkit-linear-gradient(to left, #85D8CE, #085078) !important;
		background: linear-gradient(to left, #6eb4ac, #085078) !important;
	}

	.computer .ui.borderless.menu .active.item {
		border-top: 5px solid white !important;
		background-color: transparent !important;
	}

	.mobile .ui.borderless.menu .active.item {
		background-color: rgba(0, 0, 0, .2) !important;
	}
</style>


{{>navbar}}
<header class="hero v-header h-container">
	<div class="photo-wrap">
		<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/banners/kaafila-banner.png">
	</div>
	<div class="header-overlay"></div>
	{{!-- <div class="header-content text-md-center">
		<h1 class="ui header anaktoria">Kaafila</h1>
	</div> --}}
</header>

<div id="content">

	<div id="about">
		<div class="ui middle center aligned grid container">
			<h1 class="ui header">About</h1>
			<div class="ui grid stackable center aligned middle aligned">
				<div class="eight wide column left aligned">
					<p class="ui">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae quam et felis molestie
						lacinia. Cras mauris dui, eleifend non vehicula sed, cursus sit amet est. Etiam non lorem in felis mattis
						blandit ac ut purus. Nulla semper ipsum risus, sollicitudin pharetra risus luctus ut. Suspendisse et
						finibus
						erat, quis feugiat enim. Phasellus et sem finibus, semper mi a, ornare dui. Etiam ac ornare tellus.
						Vestibulum mi lectus, tincidunt at neque sed, vulputate consectetur mauris. Etiam eleifend convallis
						felis,
						a tempus magna volutpat vitae.</p>
				</div>
				<div class="six wide column">
					<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/gallery/DSC_0177.JPG?width=750" class="ui large bordered rounded image centered">
				</div>
				<div class="six wide column">
					<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/gallery/DSC_0184.JPG?width=750" class="ui large bordered rounded image centered">
				</div>
				<div class="eight wide column left aligned">
					<p class="ui">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae quam et felis molestie
						lacinia. Cras mauris dui, eleifend non vehicula sed, cursus sit amet est. Etiam non lorem in felis mattis
						blandit ac ut purus. Nulla semper ipsum risus, sollicitudin pharetra risus luctus ut. Suspendisse et
						finibus
						erat, quis feugiat enim. Phasellus et sem finibus, semper mi a, ornare dui. Etiam ac ornare tellus.
						Vestibulum mi lectus, tincidunt at neque sed, vulputate consectetur mauris. Etiam eleifend convallis
						felis,
						a tempus magna volutpat vitae.</p>
				</div>
			</div>
		</div>
	</div>

	<div id="theme">
		<div class="ui middle center aligned grid container">
			<h1 class="ui header">Theme</h1>
			<div class="ui grid stackable center aligned middle aligned">
				<div class="eight wide column left aligned">
					<p class="ui">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae quam et felis molestie
						lacinia. Cras mauris dui, eleifend non vehicula sed, cursus sit amet est. Etiam non lorem in felis mattis
						blandit ac ut purus. Nulla semper ipsum risus, sollicitudin pharetra risus luctus ut. Suspendisse et
						finibus
						erat, quis feugiat enim. Phasellus et sem finibus, semper mi a, ornare dui. Etiam ac ornare tellus.
						Vestibulum mi lectus, tincidunt at neque sed, vulputate consectetur mauris. Etiam eleifend convallis
						felis,
						a tempus magna volutpat vitae.</p>
				</div>
				<div class="six wide column">
					<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/gallery/DSC_0129.JPG?width=750" class="ui large bordered rounded image centered">
				</div>
			</div>
		</div>
	</div>

	<div id="events">
		<div class="ui middle center aligned grid container">
			<h1 class="ui header">Events</h1>
			<div class="ui grid stackable center aligned four columns">
				<div class="column">
					<a href="/bread-and-circuses">
						<div class="ui fluid card">
							<div class="image">
								<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/banners/bread-and-circuses-text-banner.png?width=400">
							</div>
							<div class="content">
								<div class="header">Bread & Circuses</div>
								<div class="description">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae quam et felis molestie lacinia.
									Cras mauris dui, eleifend non vehicula sed, cursus sit amet est.
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="column">
					<a href="/folk-fluence">
						<div class="ui fluid card">
							<div class="image">
								<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/banners/folk-fluence-text-banner.png?width=400">
							</div>
							<div class="content">
								<div class="header">Folk Fluence</div>
								<div class="description">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae quam et felis molestie lacinia.
									Cras mauris dui, eleifend non vehicula sed, cursus sit amet est.
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="column">
					<a href="/iridescence">
						<div class="ui fluid card">
							<div class="image">
								<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/banners/iridescence-text-banner.png?width=400">
							</div>
							<div class="content">
								<div class="header">Iridescence</div>
								<div class="description">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae quam et felis molestie lacinia.
									Cras mauris dui, eleifend non vehicula sed, cursus sit amet est.
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="column">
					<a href="/strings-attached">
						<div class="ui fluid card">
							<div class="image">
								<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/banners/strings-attached-text-banner.png?width=400">
							</div>
							<div class="content">
								<div class="header">Strings Attached</div>
								<div class="description">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae quam et felis molestie lacinia.
									Cras mauris dui, eleifend non vehicula sed, cursus sit amet est.
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div id="gallery">
		<div class="ui middle center aligned grid container">
			<h1 class="ui header">Gallery</h1>
			{{#if galleryImages}}
			<div class="ui grid stackable center aligned four columns">
				{{#each galleryImages}}
				<div class="column">
					<a href="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/gallery/{{this.path}}?width=1920" data-fancybox="gallery">
						<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/gallery/{{this.path}}?width=400" class="ui large bordered rounded image centered">
					</a>
				</div>
				{{/each}}
			</div>
			{{else}}
			<div class="ui container center aligned middle aligned one columns">
				<div class="row left aligned">
					<h3 class="ui header">No images available yet!</h3>
				</div>
			</div>
			{{/if}}
		</div>
	</div>

	<div id="faq">
		<div class="ui middle aligned center aligned grid stackable container one columns">
			<div class="column">
				<h1 class="ui header">Frequently Asked Questions</h1>
			</div>
			<div class="ten wide column left aligned">
				<h5 class="ui header">Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae quam et felis
					molestie lacinia?</h5>
				<p>Cras mauris dui, eleifend non vehicula sed, cursus sit amet est. Etiam non lorem in felis mattis
					blandit ac ut purus. Nulla semper ipsum risus, sollicitudin pharetra risus luctus ut. Suspendisse et
					finibus</p>
				<h5 class="ui header">Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae quam et felis
					molestie lacinia?</h5>
				<p>Cras mauris dui, eleifend non vehicula sed, cursus sit amet est. Etiam non lorem in felis mattis
					blandit ac ut purus. Nulla semper ipsum risus, sollicitudin pharetra risus luctus ut. Suspendisse et
					finibus</p>
				<h5 class="ui header">Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae quam et felis
					molestie lacinia?</h5>
				<p>Cras mauris dui, eleifend non vehicula sed, cursus sit amet est. Etiam non lorem in felis mattis
					blandit ac ut purus. Nulla semper ipsum risus, sollicitudin pharetra risus luctus ut. Suspendisse et
					finibus</p>
			</div>

		</div>
	</div>
</div>

{{>footer}}