{{>navbar_nonhome}}
<header class="hero v-header h-container">
	<div class="photo-wrap">
		<img src="{{eventImg}}">
	</div>
	<div class="header-overlay"></div>
	<div class="header-content text-md-center">
		<h1 class="ui header timeless">{{eventName}}</h1>
	</div>
</header>

<div id="content">

	<div id="about" class="">
		<div class="ui middle center aligned grid container">
			<h1 class="ui header">About</h1>
			<div class="ui grid stackable center aligned middle aligned">
				<div class="eight wide column left aligned">
					<p class="ui">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae quam et felis molestie
						lacinia. Cras mauris dui, eleifend non vehicula sed, cursus sit amet est. Etiam non lorem in felis mattis
						blandit ac ut purus. Nulla semper ipsum risus, sollicitudin pharetra risus luctus ut. Suspendisse et
						finibus
						erat, quis feugiat enim. Phasellus et sem finibus, semper mi a, ornare dui. Etiam ac ornare tellus.
						Vestibulum mi lectus, tincidunt at neque sed, vulputate consectetur mauris. Etiam eleifend convallis
						felis,
						a tempus magna volutpat vitae.</p>
				</div>
				<div class="six wide column">
					<img src="/img/gallery/1.jpg" class="ui large bordered rounded image centered">
				</div>
				<div class="six wide column">
					<img src="/img/gallery/1.jpg" class="ui large bordered rounded image centered">
				</div>
				<div class="eight wide column left aligned">
					<p class="ui">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae quam et felis molestie
						lacinia. Cras mauris dui, eleifend non vehicula sed, cursus sit amet est. Etiam non lorem in felis mattis
						blandit ac ut purus. Nulla semper ipsum risus, sollicitudin pharetra risus luctus ut. Suspendisse et
						finibus
						erat, quis feugiat enim. Phasellus et sem finibus, semper mi a, ornare dui. Etiam ac ornare tellus.
						Vestibulum mi lectus, tincidunt at neque sed, vulputate consectetur mauris. Etiam eleifend convallis
						felis,
						a tempus magna volutpat vitae.</p>
				</div>
			</div>
		</div>
	</div>

	<div id="gallery" class="pastelprimary">
		<div class="ui middle center aligned grid container">
			<h1 class="ui header">Gallery</h1>
			<div class="ui grid stackable center aligned ">
				<div class="eight wide column">
					<img src="/img/gallery/1.jpg" class="ui large bordered rounded image centered">
				</div>
				<div class="eight wide column">
					<img src="/img/gallery/2.jpg" class="ui large bordered rounded image centered">
				</div>
				<div class="eight wide column">
					<img src="/img/gallery/3.jpg" class="ui large bordered rounded image centered">
				</div>
				<div class="eight wide column">
					<img src="/img/gallery/4.jpg" class="ui large bordered rounded image centered">
				</div>
				<div class="eight wide column">
					<img src="/img/gallery/5.jpg" class="ui large bordered rounded image centered">
				</div>
				<div class="eight wide column">
					<img src="/img/gallery/6.jpg" class="ui large bordered rounded image centered">
				</div>
				<div class="eight wide column">
					<img src="/img/gallery/7.jpg" class="ui large bordered rounded image centered">
				</div>
				<div class="eight wide column">
					<img src="/img/gallery/8.jpg" class="ui large bordered rounded image centered">
				</div>
			</div>
		</div>
	</div>

	<div id="faq" class="">
		<div class="ui middle aligned center aligned grid stackable container one columns">
			<div class="column">
				<h1 class="ui header">Frequently Asked Questions</h1>
			</div>
			<div class="ten wide column left aligned">
				<h5 class="ui header">Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae quam et felis
					molestie lacinia?</h5>
				<p>Cras mauris dui, eleifend non vehicula sed, cursus sit amet est. Etiam non lorem in felis mattis
					blandit ac ut purus. Nulla semper ipsum risus, sollicitudin pharetra risus luctus ut. Suspendisse et
					finibus</p>
				<h5 class="ui header">Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae quam et felis
					molestie lacinia?</h5>
				<p>Cras mauris dui, eleifend non vehicula sed, cursus sit amet est. Etiam non lorem in felis mattis
					blandit ac ut purus. Nulla semper ipsum risus, sollicitudin pharetra risus luctus ut. Suspendisse et
					finibus</p>
				<h5 class="ui header">Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae quam et felis
					molestie lacinia?</h5>
				<p>Cras mauris dui, eleifend non vehicula sed, cursus sit amet est. Etiam non lorem in felis mattis
					blandit ac ut purus. Nulla semper ipsum risus, sollicitudin pharetra risus luctus ut. Suspendisse et
					finibus</p>
			</div>

		</div>
	</div>
</div>

{{>footer}}