<style>
	body {
		margin: 0;
	}

	.v-header {
		height: 100vh;
		display: flex;
		align-items: center;
	}

	.h-container {
		max-width: 960px;
		padding-left: 1rem;
		padding-right: 1rem;
		margin: auto;
		margin-top: -54px;
		text-align: center;
	}

	.fullscreen-video-wrap {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		overflow: hidden;
	}

	.fullscreen-video-wrap video {
		width: auto;
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
	}

	@media screen and (max-aspect-ratio: 1920/1080) {
		.fullscreen-video-wrap video {
			height: 100%;
		}
	}

	@media screen and (min-aspect-ratio: 1920/1080) {
		.fullscreen-video-wrap video {
			width: 100%;
		}
	}

	.header-overlay {
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		z-index: 1;
		background: black;
		opacity: 0.7;
	}

	.header-content {
		z-index: 2;
		width: 100%;
	}

	.header-content img {
		margin-bottom: 20px;
	}

	.header-content h1,
	.header-content h4 {
		margin-bottom: 0;
	}

	.header-content h3 {
		display: block;
		font-weight: 200;
		padding-bottom: 2rem;
	}

	.hero h1 {
		font-size: 4rem !important;
		color: white !important;
	}

	.hero img {
		height: 200px;
		width: auto;
	}

	@media (max-width: 960px) {
		.h-container {
			padding-right: 3rem;
			padding-left: 3rem;
		}
	}

	@media (max-width: 590px) {
		.hero img {
			height: auto;
			width: 80%;
		}
	}
</style>

{{>navbar}}
<header class="hero v-header h-container">
	<div class="fullscreen-video-wrap">
		<video autoplay muted loop id="myVideo">
			<source src="/videos/hero-banner.mp4" type="video/mp4">
		</video>
	</div>
	<div class="header-overlay"></div>
	<div class="header-content text-md-center">
		<img src="/img/logo-main-white.png" alt="kaafila_logo">
		<h1 class="ui header timeless">Integrated Arts Festival</h1>
		<br>
		<a data-target="#about"><button class="ui huge button inverted">Get Started</button></a>
	</div>
</header>

<div id="content">

	<div id="about" class="">
		<div class="ui middle center aligned grid container">
			<h1 class="ui header">Dashboard, updates, etc.</h1>
			<div class="ui grid stackable center aligned middle aligned one columns	">
				<div class="column left aligned">
					<p class="ui">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae quam et felis molestie
						lacinia. Cras mauris dui, eleifend non vehicula sed, cursus sit amet est. Etiam non lorem in felis mattis
						blandit ac ut purus. Nulla semper ipsum risus, sollicitudin pharetra risus luctus ut. Suspendisse et
						finibus
						erat, quis feugiat enim. Phasellus et sem finibus, semper mi a, ornare dui. Etiam ac ornare tellus.
						Vestibulum mi lectus, tincidunt at neque sed, vulputate consectetur mauris. Etiam eleifend convallis
						felis,
						a tempus magna volutpat vitae.</p>
				</div>
				<div class="column left aligned">
					<p class="ui">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae quam et felis molestie
						lacinia. Cras mauris dui, eleifend non vehicula sed, cursus sit amet est. Etiam non lorem in felis mattis
						blandit ac ut purus. Nulla semper ipsum risus, sollicitudin pharetra risus luctus ut. Suspendisse et
						finibus
						erat, quis feugiat enim. Phasellus et sem finibus, semper mi a, ornare dui. Etiam ac ornare tellus.
						Vestibulum mi lectus, tincidunt at neque sed, vulputate consectetur mauris. Etiam eleifend convallis
						felis,
						a tempus magna volutpat vitae.</p>
				</div>
				<div class="column left aligned">
					<p class="ui">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae quam et felis molestie
						lacinia. Cras mauris dui, eleifend non vehicula sed, cursus sit amet est. Etiam non lorem in felis mattis
						blandit ac ut purus. Nulla semper ipsum risus, sollicitudin pharetra risus luctus ut. Suspendisse et
						finibus
						erat, quis feugiat enim. Phasellus et sem finibus, semper mi a, ornare dui. Etiam ac ornare tellus.
						Vestibulum mi lectus, tincidunt at neque sed, vulputate consectetur mauris. Etiam eleifend convallis
						felis,
						a tempus magna volutpat vitae.</p>
				</div>
				<div class="column left aligned">
					<p class="ui">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae quam et felis molestie
						lacinia. Cras mauris dui, eleifend non vehicula sed, cursus sit amet est. Etiam non lorem in felis mattis
						blandit ac ut purus. Nulla semper ipsum risus, sollicitudin pharetra risus luctus ut. Suspendisse et
						finibus
						erat, quis feugiat enim. Phasellus et sem finibus, semper mi a, ornare dui. Etiam ac ornare tellus.
						Vestibulum mi lectus, tincidunt at neque sed, vulputate consectetur mauris. Etiam eleifend convallis
						felis,
						a tempus magna volutpat vitae.</p>
				</div>
				<div class="column left aligned">
					<p class="ui">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae quam et felis molestie
						lacinia. Cras mauris dui, eleifend non vehicula sed, cursus sit amet est. Etiam non lorem in felis mattis
						blandit ac ut purus. Nulla semper ipsum risus, sollicitudin pharetra risus luctus ut. Suspendisse et
						finibus
						erat, quis feugiat enim. Phasellus et sem finibus, semper mi a, ornare dui. Etiam ac ornare tellus.
						Vestibulum mi lectus, tincidunt at neque sed, vulputate consectetur mauris. Etiam eleifend convallis
						felis,
						a tempus magna volutpat vitae.</p>
				</div>
				<div class="column left aligned">
					<p class="ui">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae quam et felis molestie
						lacinia. Cras mauris dui, eleifend non vehicula sed, cursus sit amet est. Etiam non lorem in felis mattis
						blandit ac ut purus. Nulla semper ipsum risus, sollicitudin pharetra risus luctus ut. Suspendisse et
						finibus
						erat, quis feugiat enim. Phasellus et sem finibus, semper mi a, ornare dui. Etiam ac ornare tellus.
						Vestibulum mi lectus, tincidunt at neque sed, vulputate consectetur mauris. Etiam eleifend convallis
						felis,
						a tempus magna volutpat vitae.</p>
				</div>
			</div>
		</div>
	</div>

</div>

{{>footer}}