<div class="ui  vertical masthead center aligned segment">

    <div class="ui text container">
      <h1 class="ui header">
            Kaafila
      </h1>
      <h2>Shiv Nadar School's online art festival</h2>
      <div class="ui huge primary button">Explore<i class="right arrow icon"></i></div>
    </div>

  </div>
