{{>navbar}}
<div class="ui container">
    <div class="ui message">
        <h1 class="ui huge header">Navbar example</h1>
        <p class="lead">
            This example is a quick exercise to illustrate how the default, static
            navbar and fixed to top navbar work. It includes the responsive CSS
            and HTML, so it also adapts to your viewport and device.
        </p>
        <a class="ui big primary button">View navbar docs &raquo; </a>
    </div>
</div>
<div class="ui container">
    <div class="ui message">
        <h1 class="ui huge header">Navbar example</h1>
        <p class="lead">
            This example is a quick exercise to illustrate how the default, static
            navbar and fixed to top navbar work. It includes the responsive CSS
            and HTML, so it also adapts to your viewport and device.
        </p>
        <a class="ui big primary button">View navbar docs &raquo; </a>
    </div>
</div>
<div class="ui container">
    <div class="ui message">
        <h1 class="ui huge header">Navbar example</h1>
        <p class="lead">
            This example is a quick exercise to illustrate how the default, static
            navbar and fixed to top navbar work. It includes the responsive CSS
            and HTML, so it also adapts to your viewport and device.
        </p>
        <a class="ui big primary button">View navbar docs &raquo; </a>
    </div>
</div>
<div class="ui container">
    <div class="ui message">
        <h1 class="ui huge header">Navbar example</h1>
        <p class="lead">
            This example is a quick exercise to illustrate how the default, static
            navbar and fixed to top navbar work. It includes the responsive CSS
            and HTML, so it also adapts to your viewport and device.
        </p>
        <a class="ui big primary button">View navbar docs &raquo; </a>
    </div>
</div>
<div class="ui container">
    <div class="ui message">
        <h1 class="ui huge header">Navbar example</h1>
        <p class="lead">
            This example is a quick exercise to illustrate how the default, static
            navbar and fixed to top navbar work. It includes the responsive CSS
            and HTML, so it also adapts to your viewport and device.
        </p>
        <a class="ui big primary button">View navbar docs &raquo; </a>
    </div>
</div>
<div class="ui container">
    <div class="ui message">
        <h1 class="ui huge header">Navbar example</h1>
        <p class="lead">
            This example is a quick exercise to illustrate how the default, static
            navbar and fixed to top navbar work. It includes the responsive CSS
            and HTML, so it also adapts to your viewport and device.
        </p>
        <a class="ui big primary button">View navbar docs &raquo; </a>
    </div>
</div>
<div class="ui container">
    <div class="ui message">
        <h1 class="ui huge header">Navbar example</h1>
        <p class="lead">
            This example is a quick exercise to illustrate how the default, static
            navbar and fixed to top navbar work. It includes the responsive CSS
            and HTML, so it also adapts to your viewport and device.
        </p>
        <a class="ui big primary button">View navbar docs &raquo; </a>
    </div>
</div>
<div class="ui container">
    <div class="ui message">
        <h1 class="ui huge header">Navbar example</h1>
        <p class="lead">
            This example is a quick exercise to illustrate how the default, static
            navbar and fixed to top navbar work. It includes the responsive CSS
            and HTML, so it also adapts to your viewport and device.
        </p>
        <a class="ui big primary button">View navbar docs &raquo; </a>
    </div>
</div>
<div class="ui container">
    <div class="ui message">
        <h1 class="ui huge header">Navbar example</h1>
        <p class="lead">
            This example is a quick exercise to illustrate how the default, static
            navbar and fixed to top navbar work. It includes the responsive CSS
            and HTML, so it also adapts to your viewport and device.
        </p>
        <a class="ui big primary button">View navbar docs &raquo; </a>
    </div>
</div>
<div class="ui container">
    <div class="ui message">
        <h1 class="ui huge header">Navbar example</h1>
        <p class="lead">
            This example is a quick exercise to illustrate how the default, static
            navbar and fixed to top navbar work. It includes the responsive CSS
            and HTML, so it also adapts to your viewport and device.
        </p>
        <a class="ui big primary button">View navbar docs &raquo; </a>
    </div>
</div>
<div class="ui container">
    <div class="ui message">
        <h1 class="ui huge header">Navbar example</h1>
        <p class="lead">
            This example is a quick exercise to illustrate how the default, static
            navbar and fixed to top navbar work. It includes the responsive CSS
            and HTML, so it also adapts to your viewport and device.
        </p>
        <a class="ui big primary button">View navbar docs &raquo; </a>
    </div>
</div>