<<<<<<< HEAD
<<<<<<< HEAD
<div class="ui  vertical masthead center aligned segment">

    <div class="ui text container">
      <h1 class="ui header">
            Kaafila
      </h1>
      <h2>Shiv Nadar School's online art festival</h2>
      <div class="ui huge primary button">Explore<i class="right arrow icon"></i></div>
    </div>

  </div>
=======
{{> navbar}}
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
>>>>>>> c1ab19f793e4c08a3ed92029800c92b5a120b713
=======
{{>navbar}}
<<<<<<< HEAD
<div class="ui container">
    <div class="ui message">
        <h1 class="ui huge header">Navbar example</h1>
        <p class="lead">
            This example is a quick exercise to illustrate how the default, static
            navbar and fixed to top navbar work. It includes the responsive CSS
            and HTML, so it also adapts to your viewport and device.
        </p>
        <a class="ui big primary button">View navbar docs &raquo; </a>
    </div>
</div>
<div class="ui container">
    <div class="ui message">
        <h1 class="ui huge header">Navbar example</h1>
        <p class="lead">
            This example is a quick exercise to illustrate how the default, static
            navbar and fixed to top navbar work. It includes the responsive CSS
            and HTML, so it also adapts to your viewport and device.
        </p>
        <a class="ui big primary button">View navbar docs &raquo; </a>
    </div>
</div>
<div class="ui container">
    <div class="ui message">
        <h1 class="ui huge header">Navbar example</h1>
        <p class="lead">
            This example is a quick exercise to illustrate how the default, static
            navbar and fixed to top navbar work. It includes the responsive CSS
            and HTML, so it also adapts to your viewport and device.
        </p>
        <a class="ui big primary button">View navbar docs &raquo; </a>
    </div>
</div>
<div class="ui container">
    <div class="ui message">
        <h1 class="ui huge header">Navbar example</h1>
        <p class="lead">
            This example is a quick exercise to illustrate how the default, static
            navbar and fixed to top navbar work. It includes the responsive CSS
            and HTML, so it also adapts to your viewport and device.
        </p>
        <a class="ui big primary button">View navbar docs &raquo; </a>
    </div>
</div>
<div class="ui container">
    <div class="ui message">
        <h1 class="ui huge header">Navbar example</h1>
        <p class="lead">
            This example is a quick exercise to illustrate how the default, static
            navbar and fixed to top navbar work. It includes the responsive CSS
            and HTML, so it also adapts to your viewport and device.
        </p>
        <a class="ui big primary button">View navbar docs &raquo; </a>
    </div>
</div>
<div class="ui container">
    <div class="ui message">
        <h1 class="ui huge header">Navbar example</h1>
        <p class="lead">
            This example is a quick exercise to illustrate how the default, static
            navbar and fixed to top navbar work. It includes the responsive CSS
            and HTML, so it also adapts to your viewport and device.
        </p>
        <a class="ui big primary button">View navbar docs &raquo; </a>
    </div>
</div>
<div class="ui container">
    <div class="ui message">
        <h1 class="ui huge header">Navbar example</h1>
        <p class="lead">
            This example is a quick exercise to illustrate how the default, static
            navbar and fixed to top navbar work. It includes the responsive CSS
            and HTML, so it also adapts to your viewport and device.
        </p>
        <a class="ui big primary button">View navbar docs &raquo; </a>
    </div>
</div>
<div class="ui container">
    <div class="ui message">
        <h1 class="ui huge header">Navbar example</h1>
        <p class="lead">
            This example is a quick exercise to illustrate how the default, static
            navbar and fixed to top navbar work. It includes the responsive CSS
            and HTML, so it also adapts to your viewport and device.
        </p>
        <a class="ui big primary button">View navbar docs &raquo; </a>
    </div>
</div>
<div class="ui container">
    <div class="ui message">
        <h1 class="ui huge header">Navbar example</h1>
        <p class="lead">
            This example is a quick exercise to illustrate how the default, static
            navbar and fixed to top navbar work. It includes the responsive CSS
            and HTML, so it also adapts to your viewport and device.
        </p>
        <a class="ui big primary button">View navbar docs &raquo; </a>
    </div>
</div>
<div class="ui container">
    <div class="ui message">
        <h1 class="ui huge header">Navbar example</h1>
        <p class="lead">
            This example is a quick exercise to illustrate how the default, static
            navbar and fixed to top navbar work. It includes the responsive CSS
            and HTML, so it also adapts to your viewport and device.
        </p>
        <a class="ui big primary button">View navbar docs &raquo; </a>
    </div>
</div>
<div class="ui container">
    <div class="ui message">
        <h1 class="ui huge header">Navbar example</h1>
        <p class="lead">
            This example is a quick exercise to illustrate how the default, static
            navbar and fixed to top navbar work. It includes the responsive CSS
            and HTML, so it also adapts to your viewport and device.
        </p>
        <a class="ui big primary button">View navbar docs &raquo; </a>
    </div>
</div>
=======
<header class="v-header h-container">
    <div class="fullscreen-video-wrap">
        <video autoplay muted loop id="myVideo">
        <source src="/videos/hero-banner.mp4" type="video/mp4">
    </video>    
    </div>
    <div class="header-overlay"></div>
    <div class="header-content text-md-center">
        <img height="200px" src="/img/logo-main-white.png" alt="" title="">
        <h1 class="ui header">Shiv Nadar School Noida Arts Festival</h1>
        <h4 class="ui">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde, impedit amet minima iste
            autem cumque et maiores blanditiis doloribus aut dolorum quaerat non est voluptatum, tempore ut dolorem
            voluptas quod quae accusantium, ex inventore ducimus. Beatae mollitia exercitationem, quam similique,
            consectetur ratione reprehenderit delectus neque eligendi facere soluta dolor ducimus!</p>
    </div>
</header>
>>>>>>> 33246f74a53ece0934f9d626945e1bc72b11f762
>>>>>>> 3148bc83743e29ecf58b223a479f366489179172
