<style>
	.v-header {
		height: 100vh;
		display: flex;
		align-items: center;
	}

	.h-container {
		max-width: 960px;
		padding-left: 1rem;
		padding-right: 1rem;
		margin: auto;
		margin-top: -52px;
		text-align: center;
	}

	.fullscreen-video-wrap {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		overflow: hidden;
	}

	.fullscreen-video-wrap video {
		width: auto;
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
	}

	@media screen and (max-aspect-ratio: 1920/1080) {
		.fullscreen-video-wrap video {
			height: 100%;
		}
	}

	@media screen and (min-aspect-ratio: 1920/1080) {
		.fullscreen-video-wrap video {
			width: 100%;
		}
	}

	.header-overlay {
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		z-index: 1;
		background: black;
		opacity: 0.7;
	}

	.header-content {
		z-index: 2;
		width: 100%;
	}

	.header-content img {
		margin-bottom: 20px;
	}

	.header-content h1,
	.header-content h4 {
		margin-bottom: 0;
	}

	.header-content h3 {
		display: block;
		font-weight: 200;
		padding-bottom: 2rem;
	}

	.hero h1 {
		font-size: 4rem !important;
		color: white !important;
	}

	.hero img {
		height: 200px;
		width: auto;
	}

	@media (max-width: 960px) {
		.h-container {
			padding-right: 3rem;
			padding-left: 3rem;
		}
	}

	@media (max-width: 590px) {
		.hero img {
			height: auto;
			width: 80%;
		}
	}

	p.ui,
	h5.ui {
		font-size: 16px !important;
	}

	#faq h5 {
		margin-bottom: 0px !important;
	}

	#gallery .gallery-more {
		display: none;
	}

	#schedule .column {
		max-width: 700px;
	}
</style>

{{>navbar}}
<header class="hero v-header h-container">
	<div class="fullscreen-video-wrap">
		<video autoplay muted playsinline id="myVideo">
			<source src="/videos/hero-banner.mp4" type="video/mp4">
		</video>
	</div>
	<div class="header-overlay"></div>
	<div class="header-content text-md-center">
		<img src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/logo-main-white.png" alt="kaafila_logo">
		<h1 class="ui header timeless">Integrated Arts Festival</h1>
		<br>
		<a data-target="#schedule"><button class="ui huge button inverted">Get Started</button></a>
	</div>
</header>

<div id="content" class="pastel k">

	<div id="schedule">
		<div class="ui center aligned container">
			<h1 class="ui header">Schedule - Kaafila 2020</h1>

			<div class="ui grid center aligned top aligned">
				<div class="column">
					<div class="ui tabular top attached menu three item menu">
						<div class="item active" data-tab="oct15">Thursday, 15 October</div>
						<div class="item" data-tab="oct16">Friday, 16 October</div>
						<div class="item" data-tab="oct17">Saturday, 17 October</div>
					</div>
					<div class="ui bottom attached segment left aligned tab active" data-tab="oct15">
						<table class="ui table ">
							<thead>
								<tr>
									<th class="four wide">Time</th>
									<th class="twelve wide">Events</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>9:00 AM - 9:30 AM</td>
									<td>Opening Ceremony</td>
								</tr>
								<tr>
									<td>9:30 AM - 11:00 AM</td>
									<td><a href="/events/folk-fluence/kalbeliya-lec-dem">Kalbeliya Lec-Dem</a></td>
								</tr>
								<tr>
									<td>11:00 AM - 1:00 PM</td>
									<td><a href="/events/bread-and-circuses/the-sounds-of-stories">The Sounds of Stories</a></td>
								</tr>
								<tr>
									<td>1:00 PM - 2:00 PM</td>
									<td><a href="/events/folk-fluence/ff-career-conversations">Career Conversations - Dance</a></td>
								</tr>
								<tr>
									<td>2:00 PM - 3:00 PM</td>
									<td><a href="/events/iridescence/i-career-conversations">Career Conversations - Visual Arts</a></td>
								</tr>
								<tr>
									<td>3:00 PM - 4:00 PM</td>
									<td><a href="/events/bread-and-circuses/fade-in">Fade In: In Conversation with Kumud Mishra</a></td>
								</tr>
								<tr>
									<td>6:30 PM - 8:30 PM</td>
									<td><a href="/events/iridescence/tessellations">Tessellations</a></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="ui bottom attached segment left aligned tab" data-tab="oct16">
						<table class="ui table">
							<thead>
								<tr>
									<th class="four wide">Time</th>
									<th class="twelve wide">Events</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>9:00 AM - 11:00 AM</td>
									<td><a href="/events/strings-attached/khasi-music-lec-dem">Khasi Instruments and Music</a></td>
								</tr>
								<tr>
									<td>11:00 AM - 12:00 PM</td>
									<td><a href="/events/bread-and-circuses/the-sounds-of-stories">The Sounds of Stories</a></td>
								</tr>
								<tr>
									<td>12:00 PM - 2:00 PM</td>
									<td><a href="/events/folk-fluence/flesh-n-bones">FLESH N BONES</a></td>
								</tr>
								<tr>
									<td>12:00 PM - 1:00 PM</td>
									<td>Strings Attached - Interaction with Judges</td>
								</tr>
								<tr>
									<td>1:00 PM - 2:00 PM</td>
									<td>Collab Lab Sharing</td>
								</tr>
								<tr>
									<td>2:00 PM - 3:00 PM</td>
									<td><a href="/events/strings-attached/sa-career-conversations">Career Conversations - Music</a></td>
								</tr>
								<tr>
									<td>3:00 PM - 4:00 PM</td>
									<td>Spoken Word <br> Let Freedom Ring: Student Exhibition Showcase</td>
								</tr>
								<tr>
									<td>4:00 PM - 6:00 PM</td>
									<td><a href="/events/bread-and-circuses/stories-through-the-lens">Stories through the Lens</a></td>
								</tr>
								<tr>
									<td>6:30 PM - 8:30 PM</td>
									<td><a href="/events/iridescence/tessellations">Tessellations</a></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="ui bottom attached segment left aligned tab" data-tab="oct17">
						<table class="ui table">
							<thead>
								<tr>
									<th class="four wide">Time</th>
									<th class="twelve wide">Events</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>9:00 AM - 10:00 AM</td>
									<td><a href="/events/iridescence/bamboo-craft-lec-dem">Bamboo Craft Lecture Demonstration</a></td>
								</tr>
								<tr>
									<td>10:00 AM - 12:00 PM</td>
									<td><a href="/events/iridescence/art-as-a-catalyst-for-social-change">Panel Discussion: Can Art be a Catalyst for Social Change?</a></td>
								</tr>
								<tr>
									<td>12:00 PM - 2:00 PM</td>
									<td><a href="/events/folk-fluence/flesh-n-bones">FLESH N BONES</a></td>
								</tr>
								<tr>
									<td>1:00 PM - 2:00 PM</td>
									<td>Bread & Circuses - Interaction with Judges</td>
								</tr>
								<tr>
									<td>2:00 PM - 3:00 PM</td>
									<td><a href="/events/strings-attached/the-manta-sidhu-show">The Manta Sidhu Show</a></td>
								</tr>
								<tr>
									<td>3:00 PM - 3:30 PM</td>
									<td>Closing Ceremony - Results</td>
								</tr>
								<tr>
									<td>4:00 PM - 5:30 PM</td>
									<td><a href="/events/bread-and-circuses/stories-through-the-lens">Stories through the Lens</a></td>
								</tr>
								<tr>
									<td>6:30 PM - 8:30 PM</td>
									<td><a href="/events/iridescence/tessellations">Tessellations</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="sff">
		<div class="ui center aligned container">
			<h1 class="ui header">Songs of Freedom</h1>
			<h3 class="ui header"><i class="icon clock"></i> Coming Soon</h3>
		</div>
	</div>

	<div id="sw">
		<div class="ui center aligned container">
			<h1 class="ui header">Spoken Word</h1>
			<h3 class="ui header"><i class="icon clock"></i> Coming Soon</h3>
		</div>
	</div>

	<div id="doc-films">
		<div class="ui center aligned container">
			<h1 class="ui header">Documentary Films</h1>
			<h3 class="ui header"><i class="icon clock"></i> Coming Soon</h3>
		</div>
	</div>

	<div id="sb">
		<div class="ui center aligned container">
			<h1 class="ui header">Space/Band</h1>
			<h3 class="ui header"><i class="icon clock"></i> Coming Soon</h3>
		</div>
	</div>

	<div id="faq">
		<div class="ui middle aligned center aligned grid stackable container one columns">
			<div class="column">
				<h1 class="ui header">Frequently Asked Questions</h1>
			</div>
			<div class="ten wide column left aligned">
				<h5 class="ui header">Q. What is Kaafila?</h5>
				<p class="ui">Kaafila is Shiv Nadar School Noida’s flagship integrated art fest covering 4 baskets of arts:
					theatre, music, dance, visual arts</p>

				<h5 class="ui header">Q. Is there any eligibility criteria to participate in Kaafila?</h5>
				<p class="ui">Most of our events are open to all individuals but students from Grades 9-12 of participating
					schools will be offered special discounts on the various workshops we offer.</p>

				<h5 class="ui header">Q. Does Kaafila only offer competitive events?</h5>
				<p class="ui">Kaafila aims to provide students an environment that challenges them into discovering their
					talent
					and skills, and to inspire the joy of learning by fostering a culture of creativity. Thus we have decided to
					keep a vast range of non competitive events along with the competitive events to provide a platform to
					celebrate the arts.</p>

				<h5 class="ui header">Q. Why is Kaafila online this year?</h5>
				<p class="ui">We strongly believe that art has no bounds, and a mere pandemic cannot shut us down! This shiny
					new online avatar, explores the possibilities of collaborative work beyond geographical limitations and
					presents artistic works that have crossed defined boundaries. We look forward to interacting with people
					from
					around the world.</p>

				<h5 class="ui header">Q. When is Kaafila again?</h5>
				<p class="ui">15<sup>th</sup>, 16<sup>th</sup> and 17<sup>th</sup> of October</p>


			</div>

		</div>
	</div>
</div>

<div id="deadlinemodal" class="ui modal small">
	<div class="ui icon header">
		<i class="warning icon"></i>
		<h2>Deadline Notice</h2>
	</div>
	<div class="content">
		<h3>Submission deadline has been extended to 8<sup>th</sup> of October, please note this deadline will not be further extended</h3>
	</div>
</div>

{{>footer}}