{{>navbar}}
<header class="hero v-header h-container">
    <div class="fullscreen-video-wrap">
        <video autoplay muted loop id="myVideo">
        <source src="/videos/hero-banner.mp4" type="video/mp4">
    </video>    
    </div>
    <div class="header-overlay"></div>
    <div class="header-content text-md-center">
        <img src="/img/logo-main.png" alt="" title="">
        <h1 class="ui header apple-garamond">Shiv Nadar School Noida Arts Festival</h1>
    </div>
</header>
