{{>navbar}}
<header class="hero v-header h-container">
	<div class="fullscreen-video-wrap">
		<video autoplay muted loop id="myVideo">
			<source src="/videos/hero-banner.mp4" type="video/mp4">
		</video>
	</div>
	<div class="header-overlay"></div>
	<div class="header-content text-md-center">
		<img src="/img/logo-main-white.png" alt="kaafila_logo">
		<h1 class="ui header timeless">Integrated Arts Festival</h1>
		<h2 class="ui header inverted timeless">Coming  Soon  |  15-19 October</h2>
		<h2 class="ui header inverted timeless">Test</h2>
	</div>
</header>

{{>footer}}