{{>navbar}}
<style>
	.v-header {
		height: 40vh;
		display: flex;
		align-items: center;
	}

	.h-container {
		max-width: 960px;
		padding-left: 1rem;
		padding-right: 1rem;
		margin: auto;
		margin-top: 0;
		text-align: center;
	}

	.photo-wrap {
		position: absolute;
		top: 52px;
		left: 0;
		width: 100%;
		height: 40vh;
		overflow: hidden;
		background: #085078;
		background: -webkit-linear-gradient(to left, #85D8CE, #085078);
		background: linear-gradient(to left, #6eb4ac, #085078);
	}

	.photo-wrap img {
		width: auto;
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
	}

	@media screen and (mi-aspect-ratio: 96/90) {
		.photo-wrap img {
			width: 100%;
		}
	}

	@media screen and (max-aspect-ratio: 96/90) {
		.photo-wrap img {
			height: 100%;
		}
	}

	.header-overlay {
		height: 40vh;
		position: absolute;
		top: 52px;
		left: 0;
		width: 100vw;
		z-index: 1;
		background: black;
		opacity: 0.4;
	}

	.header-content {
		z-index: 2;
		width: 100%;
	}

	.header-content img {
		margin-bottom: 20px;
	}

	.header-content h1,
	.header-content h4 {
		margin-bottom: 0;
	}

	.header-content h3 {
		display: block;
		font-weight: 200;
		padding-bottom: 2rem;
	}

	.hero h1 {
		font-size: 6rem !important;
		color: white !important;
	}

	@media (max-width: 960px) {
		.h-container {
			padding-right: 3rem;
			padding-left: 3rem;
		}
	}

	.ui.borderless.menu {
		background: #085078 !important;
		background: -webkit-linear-gradient(to left, #85D8CE, #085078) !important;
		background: linear-gradient(to left, #6eb4ac, #085078) !important;
	}

	table {
		background-color: transparent!important;
		border: none!important;
	}
</style>


<header class="hero v-header h-container">
	<div class="photo-wrap">
	</div>
	<div class="header-overlay"></div>
	<div class="header-content text-md-center">
		<h1 class="ui header">Your Profile</h1>
	</div>
</header>

{{!-- <h1 class="ui header">This: {{userData}}</h1> --}}
<div id="content" class="pastel k">
	<div id="registered-events">
		<div class="ui container">
			<h1 class="ui header">Registered Events</h1>
		</div>
	</div>
	<div id="account-details">
		<div class="ui container">
			<h1 class="ui header">Account Details</h1>
			<table class="ui table">
				<tbody>
					<tr>
						<td class="six wide">School Name</td>
						<td class="ten wide">{{userData.schoolName}}</td>
					</tr>
					<tr>
						<td class="six wide">School Representative's Name</td>
						<td class="ten wide">{{userData.schoolRepName}}</td>
					</tr>
					<tr>
						<td class="six wide">Email Address</td>
						<td class="ten wide">{{userData.email}}</td>
					</tr>
				</tbody>
			</table>
			<div class="ui fluid container right aligned">
				<a href="/signout"><button class="ui button primary">Sign out</button></a>
			</div>
		</div>
	</div>
</div>

{{>footer}}