<style>
  #signin {
    height: 100%;
  }

  #signin .column {
    max-width: 480px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  #signin h4 {
    margin: 0;
    margin-bottom: 15px;
  }

  #signin .content img {
    height: 70px;
    margin-bottom: 40px;
  }

  #signInEmail {
    margin-bottom: 2em;
  }

  #signInGoogle {
    font-weight: 700 !important;
  }
</style>

{{>navbar-logo}}
<div id="signin" class="ui top aligned center aligned grid">
  <div class="column">
    <h2 class="ui image header">
      <div class="content">
        Sign in
      </div>
    </h2>
    <div class="ui bottom attached stacked segment left aligned">
      <form id="signInForm" class="ui form">
        <div class="field">
          <label>Password</label>
          <div class="ui input">
            <input type="password" id="password" placeholder="Password">
          </div>
        </div>
        <button type="submit" id="signInEmail" class="ui fluid large primary button">Sign in</button>
        <div class="ui error message"></div>
      </form>
    </div>
  </div>
</div>