<style>
  #signin {
    height: 100%;
  }

  #signin .column {
    max-width: 480px;
    margin-top: -50px;
  }

  #signin h4 {
    margin: 0;
    margin-bottom: 15px;
  }

  #signin .content img {
    height: 70px;
    margin-bottom: 40px;
  }

  #signin_email {
    background-color: #085078;
    margin-bottom: 2em;
  }

  #signin_email:hover {
    background-color: #074769;
  }

  #signin_email:focus {
    background-color: #063e5c;
  }

  #signin_google {
    font-weight: 700 !important;
  }
</style>

{{>navbar-logo}}
<div id="signin" class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui image header">
      <div class="content">
        Sign in
      </div>
    </h2>
    <h4>Currently open only for participating schools</h4>
    <form id="signinform" class="ui large form" method="POST">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui input">
            <input type="text" id="email" placeholder="Email address">
          </div>
        </div>
        <div class="field">
          <div class="ui input">
            <input type="password" id="password" placeholder="Password">
          </div>
          <div id="forgotpassword" style="text-align: right;"><a>Forgot Password</a></div>
        </div>
        <button type="submit" id="signin_email" class="ui fluid large primary button">Sign in</button>
        <button type="button" id="signin_google" class="ui fluid large basic black button"><i
            class="google icon"></i>Sign in with Google</button>
      </div>

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      New to us? <a href="/signup">Sign Up</a>
    </div>
  </div>
</div>

<div id="schoolinfomodal" class="ui modal">
  <div class="header">
    <h2>Enter Your School's Information</h2>
  </div>
  <div class="content">
    <form id="schoolinfoform" class="ui small form">
      <div class="ui stacked">
        <div class="field">
          <div class="ui input">
            <input type="text" id="schoolName" placeholder="School Name">
          </div>
        </div>
        <div class="field">
          <div class="ui input">
            <input type="text" id="schoolRepName" placeholder="School Representative Name">
          </div>
        </div>
        <div class="ui fluid container column right aligned">
          <button type="submit" id="schoolinfo" class="ui primary button">Submit</button>
        </div>

      <div class="ui error message"></div>

    </form>
  </div>
</div>

<div id="forgotpasswordmodal" class="ui modal">
  <div class="header">
    <h2>Forgot Password</h2>
  </div>
  <div class="content">
    <form id="forgotpasswordform" class="ui small form" method="POST">
      <div class="ui stacked">
        <div class="field">
          <div class="ui input">
            <input type="text" id="email" placeholder="Email address">
          </div>
        </div>
        <div class="ui fluid container column right aligned">
          <button type="submit" id="resetpassword" class="ui primary button">Reset Password</button>
        </div>
      </div>

      <div class="ui error message"></div>

    </form>
  </div>
</div>

<div id="resetconfirmmodal" class="ui modal">
  <div class="content">
    <div class="ui fluid container center aligned">
      <img class="ui centered image tiny" src="/img/tick.png">
      <h2>Password Reset Mail Sent</h2>
    </div>
  </div>
</div>