{{>navbar_logo}}
<div id="signin" class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui image header">
      <div class="content">
        <img src="/img/logo-main.png" alt="kaafila_logo">
        Sign in
      </div>
    </h2>
    <form class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui input">
            <input type="text" name="email" placeholder="Email address">
          </div>
        </div>
        <div class="field">
          <div class="ui input">
            <input type="password" name="password" placeholder="Password">
          </div>
          <div style="text-align: right;"><a href="/signup">Forgot Password</a></div>
        </div>
        <div id="signin_email" class="ui fluid large primary submit button">Sign in</div>
        <div id="signin_google" class="ui fluid large basic black submit button">
          <i class="google icon"></i>Sign in with Google
        </div>
      </div>

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      New to us? <a href="/signup">Sign Up</a>
    </div>
  </div>
</div>