body {
  margin: 0;
}

.v-header {
  height: 60vh;
  display: flex;
  align-items: center;
}

.h-container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  margin-top: 0;
  text-align: center;
}

.photo-wrap {
  position: absolute;
  top: 54px;
  left: 0;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

.photo-wrap img {
  width: auto;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@media screen and (max-aspect-ratio: 6/10) {
  .photo-wrap img {
    height: 100%;
  }
}
@media screen and (min-aspect-ratio: 6/10) {
  .photo-wrap img {
    width: 100%;
  }
}

.header-overlay {
  height: 60vh;
  position: absolute;
  top: 54px;
  left: 0;
  width: 100vw;
  z-index: 1;
  background: black;
  opacity: 0;
}

.header-content {
  z-index: 2;
  width: 100%;
}

.header-content img {
  margin-bottom: 20px;
}

.header-content h1,
.header-content h4 {
  margin-bottom: 0;
}

.hero h1, .hero h4 {
  color: white!important;
}

.hero h1 {
  font-size: 4em!important;
}


#contact {
  padding-top: 3em;
  padding-bottom: 3em;
}

#content > div {
  padding-top: 5em;
  padding-bottom: 5em;
}

#contact a, #dev a {
  color: #46a3ff;
}

@media (max-width: 960px) {
  .h-container {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}
@media (max-width: 576px) {
  .v-header, .photo-wrap, .header-overlay {
    height: 70vh;
  }
  .photo-wrap img {
    height: 100%!important;
  }
}

.ui.borderless.menu {
  background-color: #01b6a7!important;
}
.computer .ui.borderless.menu .active.item {
  border-top: 5px solid white!important;
  background-color: transparent!important;
}

.mobile .ui.borderless.menu .active.item {
  background-color: rgba(0, 0, 0, .2)!important;
}