body {
  margin: 0;
}

.button.primary {
  background-color: #085078 !important;
}

.button.primary:hover {
  background-color: #074769 !important;
}

.button.primary:focus {
  background-color: #063e5c !important;
}

#content>div {
  padding-top: 5em;
  padding-bottom: 5em;
}

@media (max-width: 960px) {
  #content>div {
    padding-top: 5em;
    padding-bottom: 5em;
  }
}

@media (max-width: 768px) {
  #content>div {
    padding-top: 4em;
    padding-bottom: 4em;
  }
}