.pastel1 {
  background-color: rgba(239, 167, 145, .2);
}
.pastel2 {
  background-color: rgba(251, 227, 187, .2);
}
.pastel3 {
  background-color: rgba(204, 182, 235, .2);
}
.pastel4 {
  background-color: rgba(182, 184, 235, .2);
}
.pastel5 {
  background-color: rgba(182, 208, 235, .2);
}
.pastel6 {
  background-color: rgba(182, 235, 230, .2);
}
.pastel7 {
  background-color: rgba(182, 235, 214, .2);
}
.pastel8 {
  background-color: rgba(231, 239, 145, .2);
}
.pastelprimary {
  background-color: #01b6a733!important;
}
.pastelsecondary {
  background-color: #01b6a76e!important;
}