/* body > .grid {
  height: 100%;
} */
#signin .column {
  max-width: 480px;
}

#signin .content img {
  height: 70px;
  margin-bottom: 50px;
}

#signin_email {
  background-color: #007F74;
  margin-bottom: 2em;
}
#signin_email:hover {
  background-color: #006D64;
}
#signin_email:focus {
  background-color: #005B53;
}

#signin_google {
  font-weight: 700!important;