<form id="registereventform" class="ui small form">
	<div class="ui stacked">
		<div class="field">
			<label>Contact Person for the Event</label>
			<div class="ui input">
				<input type="text" id="contactPerson" placeholder="Contact Person for the Event">
			</div>
		</div>
		<div class="field">
			<label>Email of the Contact Person</label>
			<div class="ui input">
				<input type="text" id="email" placeholder="Email of the Contact Person">
			</div>
		</div>
		<div class="field">
			<label>Phone Number of the Contact Person</label>
			<div class="ui input">
				<input type="text" id="phone" placeholder="Phone Number of the Contact Person">
			</div>
		</div>
		<div class="field">
			<label>Group Name (optional)</label>
			<div class="ui input">
				<input type="text" id="groupName" placeholder="{{userData.schoolName}}">
			</div>
		</div>
		<h4 class="ui dividing header">Group Members</h4>
		<div id="students">
			<div id="student1">
				<div class="two fields">
					<div class="eight wide field">
						<label>Student Name</label>
						<input type="text" class="form-control" id="student1Name" placeholder="Student Name">
					</div>
					<div class="four wide field">
						<label>Student Class</label>
						<select class="ui dropdown" id="student1Class">
							<option value="">Student Class</option>
							<option value="9">Class 9</option>
							<option value="10">Class 10</option>
							<option value="11">Class 11</option>
							<option value="12">Class 12</option>
						</select>
					</div>
				</div>
			</div>
			<div id="student2">
				<div class="two fields">
					<div class="eight wide field">
						<label>Student Name</label>
						<input type="text" class="form-control" id="student2Name" placeholder="Student Name">
					</div>
					<div class="four wide field">
						<label>Student Class</label>
						<select class="ui dropdown" id="student2Class">
							<option value="">Student Class</option>
							<option value="9">Class 9</option>
							<option value="10">Class 10</option>
							<option value="11">Class 11</option>
							<option value="12">Class 12</option>
						</select>
					</div>
				</div>
			</div>
			<div id="student3">
				<div class="two fields">
					<div class="eight wide field">
						<label>Student Name</label>
						<input type="text" class="form-control" id="student3Name" placeholder="Student Name">
					</div>
					<div class="four wide field">
						<label>Student Class</label>
						<select class="ui dropdown" id="student3Class">
							<option value="">Student Class</option>
							<option value="9">Class 9</option>
							<option value="10">Class 10</option>
							<option value="11">Class 11</option>
							<option value="12">Class 12</option>
						</select>
					</div>
				</div>
			</div>
			<div id="student4">
				<div class="two fields">
					<div class="eight wide field">
						<label>Student Name</label>
						<input type="text" class="form-control" id="student4Name" placeholder="Student Name">
					</div>
					<div class="four wide field">
						<label>Student Class</label>
						<select class="ui dropdown" id="student4Class">
							<option value="">Student Class</option>
							<option value="9">Class 9</option>
							<option value="10">Class 10</option>
							<option value="11">Class 11</option>
							<option value="12">Class 12</option>
						</select>
					</div>
				</div>
			</div>
			<div id="student5">
				<div class="two fields">
					<div class="eight wide field">
						<label>Student Name</label>
						<input type="text" class="form-control" id="student5Name" placeholder="Student Name">
					</div>
					<div class="four wide field">
						<label>Student Class</label>
						<select class="ui dropdown" id="student5Class">
							<option value="">Student Class</option>
							<option value="9">Class 9</option>
							<option value="10">Class 10</option>
							<option value="11">Class 11</option>
							<option value="12">Class 12</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="field">
			<button id="studentAdd" type="button" class="ui tiny green button">Add Student</button>
		</div>
		<div class="ui fluid container right aligned">
			<button type="submit" id="registerevent" class="ui primary button">Submit</button>
		</div>
	</div>

	<div class="ui error message"></div>

</form>