<style>
	.studentAdd {
		margin-bottom: 1.35em!important;
		margin-top: 0.75em!important;
	}
</style>

<form id="registereventform" class="ui small form">
	<div class="ui stacked">
		<div class="field">
			<label>Contact Person for the Event</label>
			<div class="ui input">
				<input type="text" id="contactPerson" placeholder="Contact Person for the Event">
			</div>
		</div>
		<div class="field">
			<label>Email of the Contact Person</label>
			<div class="ui input">
				<input type="text" id="email" placeholder="Email of the Contact Person">
			</div>
		</div>
		<div class="field">
			<label>Phone Number of the Contact Person</label>
			<div class="ui input">
				<input type="text" id="phone" placeholder="Phone Number of the Contact Person">
			</div>
		</div>
		<input type="hidden" id="leastCategoryCount">
		<div id="submission">
			<div id="group0910">
				<h4 class="ui dividing header">Group 1 - Grades 9-10</h4>
				<div id="students"></div>
				<div class="field">
					<button type="button" class="ui tiny green button studentAdd">Add Student</button>
				</div>
			</div>
			<div id="group1112">
				<h4 class="ui dividing header">Group 1 - Grades 11-12</h4>
				<div id="students"></div>
				<div class="field">
					<button type="button" class="ui tiny green button studentAdd">Add Student</button>
				</div>
			</div>
		</div>
		<div class="ui fluid container right aligned">
			<button type="submit" id="registerevent" class="ui primary button">Submit</button>
		</div>
	</div>

	<div class="ui error message"></div>

</form>