<style>

  .hero h1 {
		font-size: 7.5em !important;
	}
	@media (max-width: 768px) {
		.hero h1 {
			font-size: 7em !important;
		}
	}
	@media (max-width: 590px) {
		.hero h1 {
			font-size: 4em !important;
		}
	}

	@media (max-width: 960px) {
		.h-container {
			padding-right: 3rem;
			padding-left: 3rem;
		}
	}

</style>

<div id="about">
  <div class="ui middle center aligned grid container">
    <div class="ui grid stackable center aligned top aligned">
      <div class="row">
        <div class="eight wide column left aligned">
          <p class="ui">When ideology suffers the hardest of blows, and when the populace loses interest in all things
            heroic, or political, what remains to engage a society’s interest is bread and circuses. Coined by the Roman
            satirist Juvenal, the phrase makes a sharp reference to the way that the government of the time had
            distracted
            people from the real issues of society by giving out dole in the form of food and entertainment. </p>
        </div>
        <div class="six wide column">
          <img src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/gallery/DSC_0177.JPG?width=750"
            class="ui large bordered rounded image centered"> <br>
        </div>
      </div>
      <div class="row">
        <div class="six wide column computer tablet only">
          <img src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/gallery/DSC_0199.JPG?width=750"
            class="ui large bordered rounded image centered">
        </div>
        <div class="eight wide column left aligned">
          <p class="ui">
            Drawing from this background, The Bread and Circuses is an attempt to use the virtual medium to provide a
            platform to high school students to showcase their talent and take a stance on issues that are stirring the
            conscience of every society in this world. </p>
          <p class="ui">

            ‘The show must go on”. When P.T Barnum said this in the 19th century, little would he have imagined the form
            his quote would take on during a pandemic in the 21st century! Theatre is a communal experience of being
            with
            others in a space and watching a show unfold, and this very idea is now being challenged emphatically with a
            pandemic of an unimaginable global scale. But theatre is resistant; it is an art form that it has existed
            and
            flourished for 3000 years (and possibly more). Theatre helps us relate to each other and make sense of the
            world, and has consistently adapted its form to reflect our changed realities.
          </p>
          <p class="ui">

            As the world around us is changing in many ways, theatre, too, is discovering unknown territories and
            redefining how we think of the very concept of live art. As performances around the globe ceased, many
            artists
            turned to virtual platforms to practise theatre, creating an opportunity to reach out to and engage with
            audiences around the world.</p>
          <p class="ui">


            With an aim to reach out to high school students around the globe and provide their voices a platform,
            Kaafila
            2020 is going Online!!</p>
          <p class="ui">
        </div>
        <div class="six wide column mobile only">
          <img src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/gallery/DSC_0199.JPG?width=750"
            class="ui large bordered rounded image centered">
        </div>
      </div>
      <div class="row">
        <div class="eight wide column left aligned">
          <p class="ui">
            We ask that the festival theme, ‘Freedom: An Artistic Quest’ be kept in mind while preparing plays. The
            event
            will be a testament to the spirit of collaboration as students come together virtually to create
            performances
            from their own spaces. We hope that different schools will come together to create performances that will
            push
            the boundaries of collaborative art online. Let this become the student communities’ endeavour to make sense
            of the world around us, collectively.</p>
        </div>
        <div class="six wide column">
          <img src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/gallery/DSC_0202.JPG?width=750"
            class="ui large bordered rounded image centered">
        </div>
      </div>
    </div>
  </div>
</div>

{{>event-categories}}