<style>

  .hero h1 {
		font-size: 10em !important;
	}
	@media (max-width: 768px) {
		.hero h1 {
			font-size: 8em !important;
		}
	}
	@media (max-width: 590px) {
		.hero h1 {
			font-size: 5.5em !important;
		}
	}

	@media (max-width: 960px) {
		.h-container {
			padding-right: 3rem;
			padding-left: 3rem;
		}
	}

</style>


<div id="about">
  <div class="ui center aligned container">
    <div class="ui grid stackable center aligned top aligned">
      <div class="row">
        <div class="eight wide column left aligned">
          <p class="ui">'Freedom' - whether we are aware of it or not, we express ourselves all the time through non-verbal communication. Our facial expressions, our postures, our body language - all send a message to let others know how we are feeling or what we need, without the need for words.</p>
        </div>
        <div class="six wide column">
          <img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/gallery/DSC_0014.JPG?w=750&wat=1&wat_scale=20p&wat_gravity=southeast&wat_pad=15&wat_opacity=1"
            class="ui large bordered rounded image centered">
        </div>
      </div>
      <div class="row">
        <div class="six wide column computer tablet only">
          <img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/gallery/DSC_0050.JPG?w=750&wat=1&wat_scale=20p&wat_gravity=southeast&wat_pad=15&wat_opacity=1"
            class="ui large bordered rounded image centered">
        </div>
        <div class="eight wide column left aligned">
          <p class="ui">
            Dance gives us this "Freedom" of 'Self-expression & Creative Movement', where we explore the scope of any type
          of emotional release that reflects a genuine reaction to a situation or event. This can be verbal or nonverbal
          and can use the body or external media.</p>
        </div>
        <div class="six wide column mobile only">
          <img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/gallery/DSC_0050.JPG?w=750&wat=1&wat_scale=20p&wat_gravity=southeast&wat_pad=15&wat_opacity=1"
            class="ui large bordered rounded image centered">
        </div>
        
      </div>
      <div class="row">
        <div class="eight wide column left aligned">
          <p class="ui">
            As the theme of this year’s festival is, 'Freedom', we invite all
          performing artistes to use this platform to showcase the different Indian Folk, Classical & Contemporary dance
          forms and bring forth the fusion of these dances from the different parts of India. It is our endeavour to
          bring together all the exuberant dance forms and provide an environment of inclusivity by celebrating this
          diversity.
          </p>
        </div>
        <div class="six wide column">
          <img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/gallery/DSC_0082.JPG?w=750&wat=1&wat_scale=20p&wat_gravity=southeast&wat_pad=15&wat_opacity=1"
            class="ui large bordered rounded image centered">
        </div>
      </div>
    </div>
  </div>
</div>

{{>event-categories}}