<style>

  .hero h1 {
		font-size: 10em !important;
	}
	@media (max-width: 768px) {
		.hero h1 {
			font-size: 8em !important;
		}
	}
	@media (max-width: 590px) {
		.hero h1 {
			font-size: 4.5em !important;
		}
	}

	@media (max-width: 960px) {
		.h-container {
			padding-right: 3rem;
			padding-left: 3rem;
		}
	}

</style>


<div id="about">
  <div class="ui center aligned container">
    <div class="ui grid stackable center aligned top aligned">
      <div class="row">
        <div class="eight wide column left aligned">
          <p class="ui"><i>“Art enables us to find ourselves and lose ourselves at the same time.”</i>
            – Thomas Merton</p>
          <p class="ui">

            All of us perceive the world in unique ways. Visual Arts allows us to capture these interpretations and
            showcase them in vivid and vibrant forms. Art immortalizes precious moments and serves as a perpetual
            reminder
            of the exquisite beauty that surrounds us. </p>
          <p class="ui">
            With our lives confined within four walls, everything around us seems monotonous. There is a void of freedom
            in our lives, and we sit and ponder upon whether its roots are in the sense of liveliness we feel in our
            pulses when we are out, or in isolation, away from all the worldly chaos. As we search for our answers,
            perhaps it is time for us to break out of our mundane lives, and add a splash of colour. </p>
        </div>
        <div class="six wide column">
          <img src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/gallery/DSC_0134.JPG?w=750&wat=1&wat_scale=20p&wat_gravity=southeast&wat_pad=15&wat_opacity=1"
            class="ui large bordered rounded image centered">
        </div>
      </div>
      <div class="row">
        <div class="six wide column computer tablet only">
          <img src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/gallery/IMG_7533.JPG?w=750&wat=1&wat_scale=20p&wat_gravity=southeast&wat_pad=15&wat_opacity=1"
            class="ui large bordered rounded image centered">
        </div>
        <div class="eight wide column left aligned">
          <p class="ui">
            In celebration of the power of the Arts, the Visual Arts Department presents Iridescence, a plethora of
            events
            that celebrate the multifarious nature of Art. We have a lineup that includes ‘Spirit of Freedom’: The Art
            Competition, an Islamic Papercraft Workshop, Webinars on Art as a catalyst and a Career, Online Art Market:
            a
            Platform for Local Artisans, and lastly, the Bamboo Product Making: a Demonstration, for us to understand
            and
            absorb the different versions of freedom that exist in this world, and comprehend our own. </p>
        </div>
        <div class="six wide column mobile only">
          <img src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/gallery/IMG_7533.JPG?w=750&wat=1&wat_scale=20p&wat_gravity=southeast&wat_pad=15&wat_opacity=1"
            class="ui large bordered rounded image centered">
        </div>
        
      </div>
      <div class="row">
        <div class="eight wide column left aligned">
          <p class="ui">
            Art is considered as a medium of escape for artists, for it is their imagination that sets them free. The
            question is, what is freedom in their eyes? Is it black and white, like a charcoal sketch, or does it lie in
            the vivid strokes of colour on a canvas? Do they feel they have the freedom to take that brush and spill out
            their original creations on those canvases or are they burdened under societal standards of good and bad
            art?
          </p>
        </div>
        <div class="six wide column">
          <img src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/gallery/DSC_0126.JPG?w=750&wat=1&wat_scale=20p&wat_gravity=southeast&wat_pad=15&wat_opacity=1"
            class="ui large bordered rounded image centered">
        </div>
      </div>
    </div>
  </div>
</div>

<div id="exhibition">
  <div class="ui center aligned container">
    <h1 style="margin-bottom: 10px;">Let Freedom Ring</h1>
    <p class="ui centered" style="max-width: 800px; margin: 0 auto 40px auto;">We take immense pride in sharing with you Shiv Nadar School Noida's Virtual Art Exhibition this year! Aligned with the theme of the festival, this exhibition holds the masterpieces made by our grades 9 - 12 students across different visual arts baskets. For best viewership experience, we advise you to open this exhibition on your laptop.</p>
    <div class="ui embed" data-url="https://www.artsteps.com/embed/5f85403b624faa62ebe1e7e5/560/315"></div>
  </div>
</div>

{{>event-categories}}