<style>

  .hero h1 {
		font-size: 16em !important;
    line-height: .9571429em!important;
	}
	@media (max-width: 768px) {
		.hero h1 {
			font-size: 14em !important;
		}
	}
	@media (max-width: 590px) {
		.hero h1 {
			font-size: 10em !important;
		}
	}

	@media (max-width: 960px) {
		.h-container {
			padding-right: 3rem;
			padding-left: 3rem;
		}
	}

</style>


<div id="about">
  <div class="ui middle center aligned grid container">
    <div class="ui grid stackable center aligned top aligned">
      <div class="row">
        <div class="eight wide column left aligned">
          <p class="ui"><i>‘Music is the universal language of mankind’</i> It acts as a unifying force that transcends
            barriers such as race, caste, gender, religion. In our current situation, music has had a therapeutic role
            in
            the lives of many in helping deal with it. Our engagements, transactions and interactions have all moved to
            a
            virtual environment. </p>
        </div>
        <div class="six wide column">
          <img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/gallery/IMG_8238.JPG?width=750"
            class="ui large bordered rounded image centered">
        </div>
      </div>
      <div class="row">
        <div class="six wide column">
          <img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/gallery/IMG_8281.JPG?width=750"
            class="ui large bordered rounded image centered">
        </div>
        <div class="eight wide column left aligned">
          To celebrate the power of music, that Shiv Nadar School Noida is hosting a virtual
          Inter-school music competition- ‘Virtual Strings Attached 2020’, in the categories of Solo vocals: Western,
          Hindustani and own composition; and Solo instrumental: Guitar, Piano/Keyboard and percussion. In addition,
          aligning with the theme of festival there will be non-competitive segment: ‘Songs of Freedom’ inviting
          performances from all the participating schools</p>
        </div>
      </div>
    </div>
  </div>
</div>

{{>event-categories}}